.basket {
	padding-top: 15px;
	margin-bottom: 100px;

	&_confirm {
		padding-top: 37px;
	}

	&__title {
		font-family: VremenaGrotesk;
		font-style: normal;
		font-weight: bold;
		font-size: 16px;
		line-height: 16px;
		letter-spacing: -0.1px;
		margin-bottom: 20px;
	}

	&__row {
		margin: 0 -15px;
		@include clearfix();
	}

	&__left {
		width: calc(100% - 380px);
		float: left;
		padding: 0 15px;
	}

	&__right {
		width: 380px;
		float: right;
		padding: 30px 15px 0;
	}

	&__checkbox.checkbox {
		margin-bottom: 20px;
		display: block;
	}

	&__submit {
		@include button();
	}
	@media (--phone) {
		padding-top: 0;
		margin-bottom: 30px;

		&_confirm {
			padding-top: 0;
			margin-bottom: 0;
		}

		&__title {}

		&__row {
			margin: 0;
		}

		&__left {
			float: none;
			width: 100%;
			padding: 0;
		}

		&__right {
			float: none;
			width: 100%;
			padding: 0;
		}

		&__checkbox.checkbox {}

		&__submit {
			height: 48px;
			font-size: 20px;
			margin-bottom: 48px;
		}
	}
}