<div class="basket">
	<div class="basket__row">
		<div class="basket__left">

			{% include "basket/basket-table/basket-table.njk" %}

		</div>
		<!-- /.basket__left -->
		<div class="basket__right">
			{% import "form/form.njk" as form %}
			{% import "basket/basket-props/basket-props.njk" as props %}
			{{ props.propsData() }}

			{% include "basket/basket-payment/basket-payment.njk" %}

			{{ props.propsPromocode() }}

			{% include "basket/basket-delivery/basket-delivery.njk" %}

			{{ props.propsAddress() }}

			{{ form.checkbox( mod = 'basket__checkbox', attrs = 'checked') }}

			<input type="submit" value="Оформить заказ" class="basket__submit" />

		</div>
		<!-- /.basket__right -->
		<div class="basket__left">

			{% include "basket/basket-product/basket-product.njk" %}

		</div>
		<!-- /.basket__left -->
	</div>
	<!-- /.basket__row -->
</div>
<!-- /.basket -->
