<script src="https://api-maps.yandex.ru/2.1/?lang=ru_RU"></script>

<div class="contacts">
	<div class="contacts__row">
		<div class="contacts__col">
			<div class="contacts__form">
				<input type="text" class="contacts__input" placeholder="Найти салон" />
				<input type="submit" value="" class="contacts__submit" />
			</div>
			<!-- /.contacts__form -->
		</div>
		<!-- /.contacts__col -->
		<div class="contacts__col">
			<div class="contacts__menu">
				<div class="contacts__menu-lnk active" data-map-link="moscow">
					<span>Официальные салоны</span><i>Салоны</i>
				</div>
				<!-- /.contacts__menu-lnk -->
				<div class="contacts__menu-lnk" data-map-link="rus">
					<span>Дилеры по России</span><i>Дилеры</i>
				</div>
				<!-- /.contacts__menu-lnk -->
			</div>
			<!-- /.contacts__menu -->
		</div>
		<!-- /.contacts__col -->
	</div>
	<!-- /.contacts__row -->
	<div class="contacts__section">
		<div class="contacts__map" data-map></div>
		<!-- /.contacts__map -->
		<div class="contacts__info">
			<div class="contacts__block">
				<div class="contacts__photo" data-map-photo>
					<img src="images/contact__info.png" alt="" class="contacts__pic" />
				</div>
				<!-- /.contacts__photo -->
				<div class="contacts__name" data-map-title>
					Новые Черёмушки
				</div>
				<!-- /.contacts__name -->
				<div class="contacts__text" data-map-text>
					<span data-map-text>Новые Черёмушки</span>
					<span data-map-phone>8 (495) 781-71-04</span>
				</div>
				<!-- /.contacts__text -->
				<div class="contacts__schema">
					Схема проезда
				</div>
				<!-- /.contacts__schema -->
			</div>
			<!-- /.contacts__block -->
			<div class="contacts__arrow">
				<div class="contacts__prev"></div>
				<!-- /.contacts__prev -->
				<div class="contacts__next"></div>
				<!-- /.contacts__next -->
			</div>
			<!-- /.contacts__arrow -->
		</div>
		<!-- /.contacts__info -->
	</div>
	<!-- /.contacts__section -->
</div>
<!-- /.contacts -->
