.contacts {
	padding-top: 57px;
	margin-bottom: 60px;

	&__row {
		display: flex;
		flex-direction: row-reverse;
		justify-content: space-between;
		align-items: center;
		margin-bottom: 35px;
	}

	&__col {}

	&__form {
		width: 350px;
		height: 48px;
		border: 1px solid #A1A1A1;
		border-radius: 4px;
		display: flex;
		justify-content: space-between;
	}

	&__input {
		font-size: 14px;
		color: #A1A1A1;
		padding: 0 0 0 16px;
		border: none;
		display: block;
		background: none;
		width: calc(100% - 50px);
	}

	&__submit {
		height: 100%;
		width: 40px;
		border: none;
		background: url("../images/contact-search.svg") no-repeat center;
	}

	&__menu {
		display: flex;
	}

	&__menu-lnk {
		font-family: VremenaGrotesk;
		font-style: normal;
		font-weight: normal;
		font-size: 20px;
		line-height: 24px;
		letter-spacing: 0.1px;
		color: #D58D85;
		padding: 0 18px;
		position: relative;
		cursor: pointer;

		&:after {
			position: absolute;
			left: 0;
			height: 2px;
			width: 0;
			bottom: -10px;
			background: #8A1541;
			transition: width 400ms;
			content: '';
		}

		&.active {
			color: #8A1541;

			&:after {
				width: 100%;
			}
		}

		i {
			display: none;
		}
	}

	&__section {
		position: relative;
	}

	&__map {
		height: 540px;
		background: #eee;
		box-shadow: 0 20px 20px rgba(0, 0, 0, 0.1);
	}

	&__info {
		padding: 25px;
		position: absolute;
		left: 40px;
		top: 40px;
		width: 310px;
		height: 410px;
		background: #fff;
	}

	&__block {}

	&__photo {
		margin-bottom: 20px;
	}

	&__pic {
		display: block;
		max-width: 100%;
	}

	&__name {
		font-family: VremenaGrotesk;
		font-style: normal;
		font-weight: 500;
		font-size: 20px;
		line-height: 24px;
		letter-spacing: 0.1px;
		margin-bottom: 8px;
	}

	&__text {
		font-size: 14px;
		line-height: 20px;
		margin-bottom: 30px;

		span {
			display: block;
		}
	}

	&__schema {
		font-weight: 500;
		font-size: 14px;
		line-height: 20px;
		color: #8A1541;
		display: inline-flex;

		&:after {
			position: relative;
			top: 2px;
			width: 16px;
			height: 16px;
			content: '';
			display: block;
			margin-left: 5px;
			background: url("https://icongr.am/entypo/chevron-small-right.svg?size=16&color=000000") no-repeat center;
		}
	}

	&__arrow {
		position: absolute;
		bottom: 30px;
		left: 15px;
		right: 15px;
		display: flex;
		justify-content: space-between;
	}

	&__prev {
		transform: rotate(-180deg);
	}

	&__next,
	&__prev {
		cursor: pointer;
		width: 40px;
		height: 40px;
		background: url("../images/swiper__right.svg") no-repeat center center;
		pointer-events: auto;
	}
	@media (--phone) {
		padding-top: 0;

		&__row {
			flex-direction: column;
			align-items: normal;
		}

		&__form {
			width: 100%;
			margin-bottom: 40px;
		}

		&__menu {
			justify-content: space-between;

			&-lnk {
				span {
					display: none;
				}

				i {
					display: block;
					font-style: normal;
				}
			}
		}

		&__section {
			margin: 0 -20px 275px;
		}

		&__map {}

		&__info {
			background: #FFFFFF;
			box-shadow: 0 20px 20px rgba(0, 0, 0, 0.1);
			top: calc(100% - 150px);
			width: 280px;
			left: 50%;
			transform: translate(-50%, 0);
		}
	}
}