.basket-complect {
	&__field {
		margin: 0 0 16px;
		display: flex;
		justify-content: space-between;
		align-items: center;
		cursor: pointer;
		position: relative;
	}

	&__col {
		display: flex;
		align-items: center;
	}

	&__text {
		font-size: 14px;
		line-height: 1;
	}

	&__price {
		font-weight: bold;
		font-size: 15px;
		line-height: 1;
		text-align: right;
		color: #D58D85;
	}

	&__icon {
		margin-right: 10px;
		width: 24px;
		height: 24px;
		border-radius: 2px;
		transition: background 400ms;
		background: #8A1541 url("https://icongr.am/feather/check.svg?size=20&color=ffffff") no-repeat center;
	}
}