<div class="basket-complect">
	<label class="basket-complect__field">
		<div class="basket-complect__col">
			{% if iconComplect == true %}
				<div class="basket-complect__icon"></div>
			{% endif %}
			<div class="basket-complect__text">Дополнительный чехол</div>
		</div>
		<div class="basket-complect__col">
			<div class="basket-complect__price">+ 1 000 ₽</div>
		</div>
	</label>
	<!-- /.basket-complect__field -->
	<label class="basket-complect__field">
		<div class="basket-complect__col">
			{% if iconComplect == true %}
				<div class="basket-complect__icon"></div>
			{% endif %}
			<div class="basket-complect__text">Молния по периметру</div>
		</div>
		<div class="basket-complect__col">
			<div class="basket-complect__price">+ 1 500 ₽</div>
		</div>
	</label>
	<!-- /.basket-complect__field -->
	<label class="basket-complect__field">
		<div class="basket-complect__col">
			{% if iconComplect == true %}
				<div class="basket-complect__icon"></div>
			{% endif %}
			<div class="basket-complect__text">Расширенная гарантия</div>
			<div class="tooltip"></div>
			<!-- /.tooltip -->
		</div>
		<div class="basket-complect__col">
			<div class="basket-complect__price">+ 2 500 ₽</div>
		</div>
	</label>
	<!-- /.basket-complect__field -->
</div>
<!-- /.basket-complect -->
