.basket-table {
	background: #FFFFFF;
	box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
	margin-bottom: 40px;
	padding: 28px;

	&__title {
		font-family: VremenaGrotesk;
		font-style: normal;
		font-weight: bold;
		font-size: 24px;
		line-height: 32px;
		letter-spacing: -0.1px;
		color: #8A1541;
		margin-bottom: 35px;
	}

	&__table {}

	&__row {
		display: flex;
		flex-wrap: wrap;
	}

	&__col {
		&:nth-child(1) {
			width: 190px;
			flex-shrink: 0;
		}

		&:nth-child(2) {
			width: 240px;
			flex-shrink: 0;
		}

		&:nth-child(3) {
			display: none;
		}

		&:nth-child(4) {
			width: 110px;
			flex-shrink: 0;
		}

		&:nth-child(5) {
			width: calc(100% - 190px - 240px - 110px);
			flex-shrink: 0;
			text-align: right;
		}

		&:nth-child(6) {
			padding-top: 24px;
			width: 100%;
			padding-left: 190px;
			flex-shrink: 0;
		}
	}

	&__photo {
		border: 1px solid #C4C4C4;
		border-radius: 4px;
		margin-right: 30px;
	}

	&__link {}

	&__pic {
		display: block;
		max-width: 100%;
	}

	&__name {}

	&__namelink {
		font-size: 15px;
		line-height: 20px;
		letter-spacing: 0.1px;
		color: #000000;

		b {
			font-size: 20px;
			line-height: 24px;
			letter-spacing: 0.1px;
			color: #8A1541;
			display: block;
		}
	}

	&__size {
		display: block;
		padding-top: 5px;
		font-size: 15px;
		line-height: 20px;
		letter-spacing: 0.1px;
		color: #000000;
	}

	&__price {
		font-weight: bold;
		font-size: 20px;
		line-height: 28px;
	}

	&__price_old {
		font-weight: 900;
		font-size: 16px;
		line-height: 28px;
		text-decoration-line: line-through;
		color: #E42323;
	}

	&__footer {
		padding-top: 20px;
		display: flex;
		align-items: flex-end;
		flex-direction: column;
	}

	&__text {
		font-size: 16px;
		line-height: 22px;
	}

	&__total {
		font-weight: bold;
		font-size: 24px;
		line-height: 28px;
	}
	@media (--phone) {
		margin: 0 -20px 30px;
		padding: 0 20px 40px;
		box-shadow: 0 15px 15px rgba(0, 0, 0, 0.1);

		&__title {
			display: none;
		}

		&__table {}

		&__row {}

		&__col {
			&:nth-child(1) {
				width: 100%;
			}

			&:nth-child(2) {
				width: 100%;
			}

			&:nth-child(3) {
				display: flex;
				width: 50%;
			}

			&:nth-child(4) {
				width: 50%;
			}

			&:nth-child(5) {
				padding-top: 16px;
				width: 100%;
				text-align: left;
				display: flex;
				align-items: baseline;
			}

			&:nth-child(6) {
				width: 100%;
				padding: 20px 0 0;
			}
		}

		&__photo {
			display: flex;
			align-items: center;
			justify-content: center;
			height: 158px;
			margin: 0 0 25px;
		}

		&__link {}

		&__pic {
			max-height: 100%;
		}

		&__name {}

		&__namelink {
			font-size: 18px;
			line-height: 28px;
			color: rgba(0, 0, 0, 0.86);

			b {
				display: block;
				margin-bottom: 8px;
				font-size: 32px;
				line-height: 32px;
				letter-spacing: 0.1px;
			}
		}

		&__size {
			padding-top: 5px;
			font-weight: bold;
			font-size: 16px;
			line-height: 30px;
			letter-spacing: 0.1px;

			&_desk {
				display: none;
			}
		}

		&__price {
			font-weight: bold;
			font-size: 32px;
			line-height: 28px;
			color: #999999;
			margin-right: 10px;
		}

		&__price_old {
			font-size: 16px;
			line-height: 28px;
			text-align: center;
			text-decoration-line: line-through;
			color: #E42323;
		}

		&__footer {
			align-items: flex-start;
		}

		&__text {}

		&__total {
			font-weight: bold;
			font-size: 32px;
			line-height: 28px;
			padding-top: 5px;
		}
	}
}