<div class="basket-table">
	<div class="basket-table__table">
		<div class="basket-table__row">
			<div class="basket-table__col">
				<div class="basket-table__photo">
					<a class="basket-table__link" href="#">
						<img class="basket-table__pic lazyload" data-src="images/basket-table__pic1.jpg"/>
					</a>
				</div>
				<!-- /.basket-table__photo -->
			</div>
			<div class="basket-table__col">
				<div class="basket-table__name">
					<a class="basket-table__namelink" href="#">
						<b>Гвидон</b>
						Матрас умеренной, средней жёсткости
						<span class="basket-table__size basket-table__size_desk">80×200 см</span>
					</a>
				</div>
			</div>
			<div class="basket-table__col basket-table__col_mb">
				<span class="basket-table__size">80×200 см</span>
			</div>
			<!-- /.basket-table__col -->
			<div class="basket-table__col">
				{% include "basket/basket-counter/basket-counter.njk" %}
			</div>
			<div class="basket-table__col">
				<div class="basket-table__price">13 000	₽</div>
				<div class="basket-table__price basket-table__price_old">14 400	₽</div>
			</div>
			<div class="basket-table__col">
				{% set iconComplect = true %}
				{% include "basket/basket-complect/basket-complect.njk" %}
			</div>
		</div>
		<!-- /.basket-table__row -->
	</div>
	<div class="basket-table__footer">
		<div class="basket-table__text">Итого со скидкой</div>
		<div class="basket-table__total">17 000	₽</div>
	</div>
</div>
<!-- /.basket-table -->
