<div class="basket-table">
	<div class="basket-table__title">Ваш заказ</div>
	<!-- /.basket-table__title -->
	<div class="basket-table__table">
		<div class="basket-table__row">
			<div class="basket-table__col">
				<div class="basket-table__photo">
					<img class="basket-table__pic lazyload" data-src="images/basket-table__pic1.jpg"/>
				</div>
				<!-- /.basket-table__photo -->
			</div>
			<div class="basket-table__col">
				<div class="basket-table__name">
					<div class="basket-table__namelink">
						<b>Гвидон</b>
						Матрас умеренной, средней жёсткости
						<span class="basket-table__size">80×200 см</span>
					</div>
				</div>
			</div>
			<div class="basket-table__col basket-table__col_mb">
				<span class="basket-table__size">80×200 см</span>
			</div>
			<!-- /.basket-table__col -->
			<div class="basket-table__col">

			</div>
			<div class="basket-table__col">
				<div class="basket-table__price">13 000	₽</div>
			</div>
			<div class="basket-table__col">
				{% include "basket/basket-complect/basket-complect.njk" %}
			</div>
		</div>
		<!-- /.basket-table__row -->
	</div>
	<div class="basket-table__footer">
		<div class="basket-table__text">Итого со скидкой</div>
		<div class="basket-table__total">17 000	₽</div>
	</div>
</div>
<!-- /.basket-table -->
