.detail-desc {
	&__toptext {
		font-family: VremenaGrotesk;
		font-style: normal;
		font-weight: normal;
		font-size: 18px;
		line-height: 28px;
		color: rgba(0, 0, 0, 0.86);
		margin-bottom: 10px;
	}

	&__title {
		font-family: VremenaGrotesk;
		font-style: normal;
		font-weight: normal;
		font-size: 32px;
		line-height: 24px;
		letter-spacing: 0.1px;
		color: #8A1541;
		margin-bottom: 20px;
	}

	&__smtitle {
		font-family: VremenaGrotesk;
		font-style: normal;
		font-weight: bold;
		font-size: 16px;
		line-height: 32px;
		letter-spacing: -0.1px;
	}

	&__list {
		margin: 0 -20px 20px 0;
		padding: 0 0 0 15px;
		font-size: 15px;
		line-height: 30px;
		letter-spacing: 0.1px;
	}

	&__row {
		margin-bottom: 18px;
		display: flex;
	}

	&__col {
		width: 190px;
		padding: 0 44px 0 0;

		&:nth-child(2) {
			width: calc(100% - 190px);
			padding: 0;
		}
	}
	@media (--phone) {
		&__mbhide {
			display: none;
		}

		&__list {
			margin-bottom: 24px;
		}

		&__row {
			margin-bottom: 16px;
			flex-direction: column;
		}

		&__col {
			width: 100% !important;
			padding: 0;

			.combox {
				margin-bottom: 16px;
			}
		}
	}
}