<div class="detail-desc">
	<div class="detail-desc__toptext detail-desc__mbhide">
		Матрас умеренной, средней жёсткости
	</div>
	<!-- /.detail-desc__toptext -->
	<div class="detail-desc__title detail-desc__mbhide">
		Гвидон
	</div>
	<!-- /.detail-desc__title -->
	<div class="detail-desc__smtitle">Состав модели</div>
	<!-- /.detail-desc__smtitle -->
	<ol class="detail-desc__list">
		<li>Несъёмный чехол из трикотажа или жаккарда</li>
		<li>Кокосовая койра – 1 см.</li>
		<li>Блок независимых пружин (256 шт/м2) – 14 см.</li>
		<li>Кокосовая койра – 1 см.</li>
	</ol>
	<!-- /.detail-desc__list -->


	<div class="detail-desc__row">
		<div class="detail-desc__col">
			{% from "combox/combox.njk" import combox %}
			{{ combox() }}
		</div>
		<!-- /.detail-desc__col -->
		<div class="detail-desc__col">
			{% include "detail-page/detail-color/detail-color.njk" %}
		</div>
		<!-- /.detail-desc__col -->
	</div>
	<!-- /.detail-desc__row -->

	{% include "detail-page/detail-price/detail-price.njk" %}

	{% include "detail-page/detail-buttons/detail-buttons.njk" %}

	{% include "detail-page/detail-complect/detail-complect.njk" %}

</div>
<!-- /.detail-desc -->
