.catalog-thumb {
	&__photo {
		height: 160px;
		display: flex;
		align-items: center;
		justify-content: center;
		margin-bottom: 18px;
		position: relative;
	}

	&_large &__photo {
		height: 590px;
	}

	&__link {
		display: block;
	}

	&__pic {
		display: block;
		max-width: 100%;
		max-height: 100%;
	}

	&__desc {}

	&__name {
		font-family: VremenaGrotesk;
		font-style: normal;
		font-weight: normal;
		font-size: 20px;
		line-height: 24px;
		letter-spacing: 0.1px;
		color: #8A1541;
		margin-bottom: 4px;
		display: flex;
		align-items: center;
	}

	&__namelnk {
		color: #8A1541;
		margin-right: 8px;
	}

	&__colors {
		margin: 0 -8px;
		display: flex;
		flex-wrap: wrap;

		&-item {
			margin: 0 8px 16px;
			width: 24px;
			height: 24px;
			display: block;
		}
	}

	&__text {
		font-size: 14px;
		line-height: 20px;
		margin-bottom: 8px;
	}

	&__price {
		margin-bottom: 8px;
		display: flex;
		align-items: baseline;

		&-new {
			font-weight: bold;
			font-size: 16px;
			line-height: 24px;
			letter-spacing: 0.1px;
		}

		&-old {
			font-weight: 500;
			font-size: 12px;
			line-height: 24px;
			letter-spacing: 0.1px;
			text-decoration-line: line-through;
			color: #E42323;
			margin-left: 8px;
		}
	}

	&__buy {
		font-family: VremenaGrotesk;
		font-style: normal;
		font-weight: 500;
		font-size: 16px;
		line-height: 24px;
		letter-spacing: 0.1px;
		color: #8A1541;
	}
	@media (--phone) {
		margin-bottom: 32px;

		&_large &__photo {
			height: 160px;
		}

		&__pic {
			max-height: 160px;
		}

		&__name {
			font-size: 24px;
			line-height: 24px;
		}

		&__text {
			font-size: 16px;
			line-height: 24px;
			margin-bottom: 16px;
		}

		&__footer {
			display: flex;
			align-items: baseline;
			justify-content: space-between;
		}

		&__price {
			margin-bottom: 0;

			&-new {
				font-weight: bold;
				font-size: 24px;
				line-height: 24px;
				letter-spacing: 0.1px;
			}
		}

		&__buy {
			font-size: 20px;
			line-height: 24px;
			letter-spacing: 0.1px;
		}
	}
}