{% macro thumb(
		modifierClass = '',
		src = 'images/catalog-thumb__pic.png',
		name = 'Салтан Эко',
		text = 'Дублирующая модель матраса «Салтан» с более бюджетными наполнителями. ',
		oldprice = false,
		colors = ['images/catalog-thumb__color1.png', 'images/catalog-thumb__color2.png', 'images/catalog-thumb__color3.png'],
		labelIcon = false,
		label = false
	)
%}
	<div class="catalog-thumb {{ modifierClass }}">
		<div class="catalog-thumb__photo">

			{% if label %}
				{% include "catalog/label/label.njk" %}
			{% endif %}

			<a href="#" class="catalog-thumb__link">
				<img data-src="{{ src }}" alt="" class="catalog-thumb__pic lazyload" />
			</a>
		</div>
		<!-- /.catalog-thumb__photo -->
		<div class="catalog-thumb__desc">
			<div class="catalog-thumb__name">
				<a href="#" class="catalog-thumb__namelnk">{{ name }}</a>
				{% if labelIcon %}
					<div class="label-icon">
						<div class="label-icon__item">Распродажа</div>
						<!-- /.label-icon__item -->
					</div>
					<!-- /.label-icon -->
				{% endif %}
			</div>
			<!-- /.catalog-thumb__name -->
			{% if colors.length %}
				<div class="catalog-thumb__colors">
					{% for item in colors %}
						<label class="catalog-thumb__colors-item" style="background: url({{ item }}) no-repeat;"></label>
					{% endfor %}
				</div>
				<!-- /.catalog-thumb__colors -->
			{% endif %}
			<div class="catalog-thumb__text">
				{{ text }}
			</div>
			<!-- /.catalog-thumb__text -->
			<div class="catalog-thumb__footer">
				<div class="catalog-thumb__price">
					<div class="catalog-thumb__price-new">
						9 975 ₽
					</div>
					<!-- /.catalog-thumb__price-new -->
					{% if oldprice %}
					<div class="catalog-thumb__price-old">10 975 ₽</div>
					<!-- /.catalog-thumb__price-old -->
					{% endif %}
				</div>
				<!-- /.catalog-thumb__price -->
				<div class="catalog-thumb__buy">Купить</div>
				<!-- /.catalog-thumb__buy -->
			</div>
			<!-- /.catalog-thumb__footer -->
		</div>
		<!-- /.catalog-thumb__desc -->
	</div>
	<!-- /.catalog-thumb -->
{% endmacro %}
