<div class="history">
	<div class="swiper-large">
		<div class="swiper-large__bottom history__top">
			<div class="swiper-container" data-swiper-large-thumb data-options='{"slidesPerView": 19,"watchSlidesVisibility":true, "watchSlidesProgress": true, "spaceBetween": 28, "breakpoints": { "768": { "slidesPerView": 4, "spaceBetween": 19 }}}'>
				<div class="swiper-wrapper">
					{% for item in ['1926', '1934', '1941', '1950', '1993', '1996', '2000', '2001', '2002', '2003', '2006', '2006', '2007', '2009', '2010', '2011', '2012', '2013', '2017'] %}
						<div class="swiper-slide">
							<a class="history__year">
								{{ item }}
							</a>
						</div>
					{% endfor %}
				</div>
			</div>
			<div class="swiper__arrow">
				<div class="swiper__prev js-swiper__prev"></div>
				<div class="swiper__next js-swiper__next"></div>
			</div>
		</div>
		<!-- /.history__top -->
		<div class="swiper-large__top history__bottom">
			<div class="swiper-container" data-swiper-large>
				<div class="swiper-wrapper">
					{% for item in ['1926', '1934', '1941', '1950', '1993', '1996', '2000', '2001', '2002', '2003', '2006', '2006', '2007', '2009', '2010', '2011', '2012', '2013', '2017'] %}
						<div class="swiper-slide">
							<div class="history__item">
								<picture class="history__pic">
									<source media="(max-width: 768px)" data-srcset="images/history__pic_w768.png">
									<img data-src="images/history__pic.jpg" alt="" class="lazyload">
								</picture>
								<div class="history__desc">
									<div class="history__toptext">
										{{ item }}
									</div>
									<!-- /.history__year -->
									<div class="history__title">
										Начало
									</div>
									<!-- /.history__title -->
									<div class="history__text">
										Образование артельного предприятия по производству швейных изделий
									</div>
									<!-- /.history__text -->
								</div>
								<!-- /.history__desc -->
							</div>
							<!-- /.history__item -->
						</div>
						<!-- /.swiper-slide -->
					{% endfor %}
				</div>
			</div>
		</div>
		<!-- /.history__bottom -->
	</div>
</div>
<!-- /.history -->
