.history {
	padding-top: 25px;
	margin-bottom: 135px;
	position: relative;

	&__top {
		margin: 0 -120px;
	}

	&__top {
		margin-bottom: 50px;
	}

	&__year {
		color: #d58d85;
		font-size: 16px;
		font-weight: 500;
		letter-spacing: 0.1px;
		line-height: 24px;
		padding: 0 0 9px;
		text-align: center;
		display: block;
		cursor: pointer;
		position: relative;
		transition: color 300ms;

		&:after {
			position: absolute;
			left: 0;
			bottom: 0;
			width: 0;
			height: 1px;
			background: #8a1541;
			transition: width 300ms;
			content: '';
		}

		.swiper-slide-thumb-active &,
		.swiper-slide-thumb-active &:hover {
			color: #8a1541;

			&:after {
				width: 100%;
			}
		}
	}

	&__bottom {
		width: 1110px;
		margin: 0 auto;
	}

	.lazyload {}

	&__item {
		position: relative;
	}

	&__pic {
		display: block;
	}

	&__desc {
		color: #fff;
		position: absolute;
		left: 40px;
		top: 48px;
		max-width: 445px;
	}

	&__toptext {
		font-size: 16px;
		line-height: 24px;
		letter-spacing: 0.1px;
	}

	&__title {
		font-family: VremenaGrotesk;
		font-style: normal;
		font-weight: bold;
		font-size: 40px;
		line-height: 48px;
		letter-spacing: -0.5px;
	}

	&__text {
		font-size: 16px;
		line-height: 24px;
		letter-spacing: 0.1px;
	}
	@media (--phone) {
		padding-top: 0;
		margin-bottom: 48px;
		position: relative;

		&__top {
			margin: 0;
		}

		&__top {
			margin: 0 -20px 24px;
		}

		&__year {}

		&__bottom {
			width: auto;
			margin: 0 -20px;
		}

		.lazyload {}

		&__item {
			position: relative;
		}

		&__pic {
			display: block;
		}

		&__desc {
			color: #fff;
			position: absolute;
			left: 20px;
			top: 40px;
			right: 40px;
		}

		&__toptext {}

		&__title {}

		&__text {}
	}
}