<div class="detail-price">
	<div class="detail-price__new">
		14 400	₽
	</div>
	<!-- /.detail-price__new -->
	<div class="detail-price__old">
		13 000	₽
		<div class="tooltip"></div>
		<!-- /.tooltip -->
	</div>
	<!-- /.detail-price__old -->
</div>
<!-- /.detail-price -->
