.detail-price {
	margin-bottom: 30px;
	display: flex;
	align-items: baseline;

	&__old {
		font-weight: 900;
		font-size: 16px;
		line-height: 28px;
		text-align: center;
		text-decoration-line: line-through;
		color: #E42323;
		margin-left: 10px;
		position: relative;
	}

	&__new {
		font-weight: bold;
		font-size: 32px;
		line-height: 28px;
		color: #000000;
	}
	@media (--phone) {
		margin-bottom: 24px;

		&__new {}
	}
}