.benefits-content {
	margin-bottom: 55px;

	&__photo {
		height: 50px;
		display: flex;
		align-items: center;
		padding-left: 40px;
		margin-bottom: 24px;
	}

	&__pic {
		@include max();
	}

	&__name {
		font-weight: 500;
		font-size: 16px;
		line-height: 24px;
		letter-spacing: 0.1px;
		color: #8A1541;
		margin-bottom: 8px;
	}

	&__text {
		font-size: 14px;
		line-height: 20px;
		color: #000000;
	}
	@media (--desk) {
		.col-sm-3:nth-child(3) &__pic {
			max-height: 40px;
		}

		.col-sm-3:nth-child(4) &__pic {
			max-height: 30px;
		}
	}
	@media (--phone) {
		margin-bottom: 24px;

		&__item {
			margin-bottom: 24px;
		}

		&__photo {
			height: 128px;
			padding-left: 0;
			justify-content: center;
			margin-bottom: 16px;
		}

		&__pic {}

		&__name {
			font-size: 20px;
			line-height: 24px;
			text-align: center;
			letter-spacing: 0.1px;
		}

		&__text {
			font-size: 16px;
			line-height: 24px;
			text-align: center;
		}
	}
}