{% set data = [
		{
			"src": "images/benefits-content__pic1.svg",
			"title": "Высокое качество",
			"text": "Краткое описание преимущества в несколько строк."
		},
		{
			"src": "images/benefits-content__pic2.svg",
			"title": "Доступная цена",
			"text": "Краткое описание преимущества в несколько строк."
		},
		{
			"src": "images/benefits-content__pic3.svg",
			"title": "Бесплатная доставка",
			"text": "Краткое описание преимущества в несколько строк."
		},
		{
			"src": "images/benefits-content__pic4.svg",
			"title": "Индивидуальный пошив",
			"text": "Краткое описание преимущества в несколько строк." 
		}
	]
%}

<div class="benefits-content">
    <div class="row">
		{% for item in data %}
		<div class="col-sm-3">
			<div class="benefits-content__item">
				<div class="benefits-content__photo">
					<img class="benefits-content__pic lazyload" data-src="{{ item.src }}" />
				</div>
				<div class="benefits-content__desc">
					<div class="benefits-content__name">
						{{ item.title }}
					</div>
					<div class="benefits-content__text">
						{{ item.text }}
					</div>
				</div>
			</div>
		</div>
		{% endfor %}
    </div>
</div>
<!-- /.benefits-content -->
