.combox {
	width: 100%;
	height: 48px;
	border-radius: 4px;
	box-shadow: inset 0 2px 5px 0 rgba(102, 113, 123, 0.1), inset 0 0 0 1px rgba(102, 113, 123, 0.25);
	background: #fff;

	&__select {
		background: none;
		border: none;
		appearance: none;
		height: 100%;
		font-size: 16px;
		line-height: 24px;
		letter-spacing: 0.1px;
		padding: 0 16px;
		width: 100%;
		background: url("https://icongr.am/fontawesome/caret-down.svg?size=20&color=8B1541") no-repeat;
		background-position: right 10px center;
	}
}