{% macro combox(data = ['80×200 см', '80×200 см', '80×200 см']) %}
	<div class="combox">
		<select name="" class="combox__select">
			{% for item in data %}
				<option value="">{{ item }}</option>
			{% endfor %}
		</select>
	</div>
	<!-- /.combox -->
{% endmacro %}
