.filter-button {
	background: url("../images/filter-button.svg") no-repeat left center;
	min-height: 24px;
	display: flex;
	align-items: center;
	padding: 0 0 0 32px;
	font-weight: 500;
	font-size: 14px;
	line-height: 24px;
	letter-spacing: 0.1px;
	@media (--desk) {
		&:after {
			content: 'Выключен';
			font-weight: 500;
			font-size: 14px;
			line-height: 24px;
			letter-spacing: 0.1px;
			color: #D8D8D8;
			margin-left: 8px;
		}

		&.active:after {
			content: 'Включен';
		}
	}
	@media (--phone) {
		width: 30px;
		text-indent: -9999px;
		padding: 0;
		float: right;
	}
}