@font-face {
	font-family: VremenaGrotesk;
	src: url("fonts/VremenaGrotesk.otf");
	font-weight: 400;
}
@font-face {
	font-family: VremenaGrotesk;
	src: url("fonts/VremenaGroteskMedium.otf");
	font-weight: 500;
}
@font-face {
	font-family: VremenaGrotesk;
	src: url("fonts/VremenaGroteskBold.otf");
	font-weight: 700;
}