.wrapper {
	position: relative;
	margin: 0 auto;
	overflow: hidden;
	min-height: 100%;
	min-width: 1380px;
	padding-bottom: 364px;
	@media (--phone) {
		min-width: 100%;
		padding: 112px 20px 1030px;
	}
}