.catalog-banner {
	padding-top: 40px;
	margin-bottom: 90px;

	&__desc {
		height: 100%;
		padding: 30px 0 0;
		max-width: 400px;
	}

	&__smtitle {
		font-family: VremenaGrotesk;
		font-style: normal;
		font-weight: 500;
		font-size: 18px;
		line-height: 28px;
		margin-bottom: 16px;
	}

	&__title {
		font-family: VremenaGrotesk;
		font-style: normal;
		font-weight: bold;
		font-size: 60px;
		line-height: 48px;
		letter-spacing: -0.5px;
		color: #8A1541;
		margin-bottom: 70px;
	}

	&__more {
		font-weight: 500;
		font-size: 18px;
		line-height: 28px;
		color: #D58D85;
		display: inline-flex;
		align-items: center;

		&:after {
			position: relative;
			top: 1px;
			width: 16px;
			height: 16px;
			content: '';
			display: block;
			background: url("https://icongr.am/entypo/chevron-small-right.svg?size=16&color=000000") no-repeat center;
		}
	}

	&__pic {
		display: block;
		max-width: 100%;
		max-height: 100%;
	}
	@media (--phone) {
		padding-top: 28px;
		position: relative;
		margin-bottom: 48px;

		.row {
			flex-direction: column-reverse;

			[class*=col-] {
				position: static;
			}
		}

		&__desc {
			padding: 0;
		}

		&__smtitle {
			font-weight: 500;
			font-size: 18px;
			line-height: 28px;
			position: absolute;
			left: 0;
			top: 0;
		}

		&__title {
			font-weight: bold;
			font-size: 44px;
			line-height: 48px;
			letter-spacing: -0.5px;
			margin-bottom: 24px;
		}

		&__more {
			font-weight: 500;
			font-size: 18px;
			line-height: 28px;

			&:after {
				position: relative;
				top: 1px;
				width: 16px;
				height: 16px;
				content: '';
				display: block;
				background: url("https://icongr.am/entypo/chevron-small-right.svg?size=16&color=000000") no-repeat center;
			}
		}

		&__photo {
			margin: 0 -20px 28px;
		}

		&__pic {
			margin: 0;
		}
	}
}