<div class="catalog-banner">
	<div class="row align-items-center">
		<div class="col-sm-6">
			<div class="catalog-banner__desc">
				<div class="catalog-banner__smtitle">
					Каталог
				</div>
				<!-- /.catalog-banner__smtitle -->
				<div class="catalog-banner__title">
					Матрасы<br>для лучшего сна
				</div>
				<!-- /.catalog-banner__title -->
				<a href="#" class="catalog-banner__more">Подобрать</a>
			</div>
			<!-- /.catalog-banner__desc -->
		</div>
		<!-- /.col-sm-6 -->
		<div class="col-sm-6">
			<div class="catalog-banner__photo">
				<img data-src="images/catalog-banner__pic.jpg" alt="" class="catalog-banner__pic lazyload" />
			</div>
			<!-- /.catalog-banner__photo -->
		</div>
		<!-- /.col-sm-6 -->
	</div>
	<!-- /.row align-items-center -->
</div>
<!-- /.catalog-banner -->
