<div class="basket-counter">
	<a class="basket-counter__minus" href="#"></a>
	<input class="basket-counter__input" value="1" type="text"/>
	<a class="basket-counter__plus" href="#"></a>
</div>
<!-- /.basket-counter -->
