.basket-counter {
	display: flex;
	align-items: center;
	width: 110px;
	height: 46px;
	background-color: #F0F0F1;
	justify-content: space-between;

	&__minus {
		width: 40px;
		height: 30px;
		background: url("https://icongr.am/clarity/minus.svg?size=20&color=58585a") no-repeat center;
		display: block;
	}

	&__input {
		background: none;
		line-height: 1;
		border: none;
		width: 50px;
		height: 30px;
		text-align: center;
		display: block;
		color: #000000;
		font-size: 14px;
		font-weight: 500;
	}

	&__plus {
		width: 40px;
		height: 30px;
		background: url("https://icongr.am/clarity/plus.svg?size=20&color=58585a") no-repeat center;
		display: block;
	}
	@media (--phone) {
		width: 122px;
	}
}