{% from "catalog/catalog-thumb/catalog-thumb.njk" import thumb %}
<div class="similar-catalog">
	<div class="similar-catalog__inner">
		<div class="swiper">
			<div class="swiper-container" data-swiper data-options='{"slidesPerView": "4", "spaceBetween": 30 }' data-destroy-mobile="yes">
				<div class="swiper-wrapper">
					{% for item in '12' %}
					<div class="swiper-slide">

						{{
							thumb(
								colors = ['images/catalog-thumb__color1.png']
							)
						}}

					</div>
					<div class="swiper-slide">

						{{
							thumb(
								name = 'Гвидон',
								text = 'Матрас умеренной, средней жёсткости, в состав которого входит натуральная, гипоаллергенная кокосовая койра.',
								colors = ['images/catalog-thumb__color1.png', 'images/catalog-thumb__color2.png']
							)
						}}

					</div>
					<div class="swiper-slide">

						{{
							thumb(
								name = 'Элизиум',
								text = 'Матрас из натуральной кокосовой койры с хорошей плотность дает ощущения выше средней жесткости.',
								colors = ['images/catalog-thumb__color1.png'],
								oldprice = true
							)
						}}

					</div>
					<div class="swiper-slide">

						{{
							thumb(
								name = 'Гвидон',
								text = 'Наполнитель в виде форплита (полиэфирный нектарный материал) придает матрасу «Лициний» дополнительный анатомический эффект и прочность',
								colors = ['images/catalog-thumb__color1.png', 'images/catalog-thumb__color2.png', 'images/catalog-thumb__color3.png']
							)
						}}

					</div>
					{% endfor %}
				</div>
			</div>
		</div>
		<!-- /.swiper -->
	</div>
	<!-- /.__inner -->
</div>
<!-- /.similar-catalog -->
