<div class="detail-gallery">
	<div class="detail-gallery__toptext detail-gallery__lghide">
		Матрас умеренной, средней жёсткости
	</div>
	<!-- /.detail-gallery__toptext -->
	<div class="detail-gallery__title detail-gallery__lghide">
		Гвидон
	</div>
	<!-- /.detail-gallery__title -->
	<div class="detail-gallery__inner">
		<div class="swiper-large">
			<div class="swiper-large__top detail-gallery__top">
				<div class="swiper-container" data-swiper-large>
					<div class="swiper-wrapper">
						{% for item in '123456789' %}
							<div class="swiper-slide">
								<div class="swiper-large__item swiper-large__item_large">
									<img class="detail-gallery__pic detail-gallery__pic_big lazyload" data-src="images/detail-gallery__large.jpg"/>
								</div>
							</div>
							<!-- /.swiper-slide -->
						{% endfor %}
					</div>
				</div>
			</div>
			<!-- /.swiper-large__top -->
			<div class="swiper-large__bottom detail-gallery__bottom">
				<div class="swiper-container" data-swiper-large-thumb data-options='{"slidesPerView": 4,"watchSlidesVisibility":true, "watchSlidesProgress": true, "spaceBetween": 28}'>
					<div class="swiper-wrapper">
						{% for item in '123456789' %}
								<div class="swiper-slide">
									<div class="swiper-large__item swiper-large__item_small">
										<img class="detail-gallery__pic detail-gallery__pic_small lazyload" data-src="images/detail-gallery__small.jpg"/>
									</div>
								</div>
						{% endfor %}
					</div>
				</div>
			</div>
			<!-- /.swiper-large__bottom -->
		</div>
	</div>
	<!-- /.detail-gallery__inner -->
</div>
<!-- /.detail-gallery -->
