.detail-gallery {
	margin-bottom: 70px;

	&__toptext {
		font-family: VremenaGrotesk;
		font-style: normal;
		font-weight: normal;
		font-size: 18px;
		line-height: 28px;
		color: rgba(0, 0, 0, 0.86);
		margin-bottom: 10px;
	}

	&__title {
		font-family: VremenaGrotesk;
		font-style: normal;
		font-weight: normal;
		font-size: 32px;
		line-height: 24px;
		letter-spacing: 0.1px;
		color: #8A1541;
		margin-bottom: 30px;
	}

	&__bottom {}

	&__item {
		&_small {
			border: 1px solid #C4C4C4;
			border-radius: 4px;
			display: flex;
			align-items: center;
			justify-content: center;
			overflow: hidden;
		}
	}

	&__pic {
		max-width: 100%;

		&_small {
			opacity: 1;
			transition: opacity 400ms;

			.swiper-slide-thumb-active & {
				opacity: 0.2;
			}
		}
	}
	@media (--desk) {
		&__lghide {
			display: none;
		}
	}
	@media (--phone) {
		margin-bottom: 24px;

		&__inner {
			border: 1px solid #C4C4C4;
			border-radius: 4px;
		}

		&__bottom {
			display: none;
		}
	}
}