.news-item {
	margin-bottom: 80px;

	&__item {
		position: relative;
	}

	&__photo {}

	&__pic {
		display: block;
		max-width: 100%;
		max-height: 100%;
	}

	&__desc {
		padding: 24px 24px 70px;
		position: relative;
		background-color: #D58D85;
		transition: background 300ms;
	}

	&__item:hover &__desc {
		background: #8A1541;
	}

	&__name {
		font-family: VremenaGrotesk;
		font-style: normal;
		font-weight: bold;
		font-size: 24px;
		line-height: 32px;
		letter-spacing: -0.1px;
		color: #FFFFFF;
	}

	&__more {
		font-weight: 500;
		font-size: 16px;
		line-height: 24px;
		letter-spacing: 0.1px;
		color: #FFFFFF;
		position: absolute;
		left: 24px;
		bottom: 20px;
	}

	&__link {
		position: absolute;
		left: 0;
		top: 0;
		width: 100%;
		height: 100%;
	}
	@media (--phone) {
		margin-bottom: 24px;

		&__photo {
			justify-content: center;
			display: flex;
		}

		&__item {
			margin-bottom: 24px;
		}
	}
}