<div class="news-item">
	<div class="row">
		<div class="col-sm-4">
			<div class="news-item__item">
				<div class="news-item__photo">
					<img data-src="images/news-item__pic1.jpg" alt="" class="news-item__pic lazyload" />
				</div>
				<!-- /.news-item__photo -->
				<div class="news-item__desc">
					<div class="news-item__name">
						Дополнительная скидка к каждому заказу в нашем магазине
					</div>
					<!-- /.news-item__name -->
					<div class="news-item__more">Узнать больше</div>
					<!-- /.news-item__more -->
				</div>
				<!-- /.news-item__desc -->
				<a href="#" class="news-item__link"></a>
			</div>
			<!-- /.news-item__item -->
		</div>
		<!-- /.col-sm-4 -->
		<div class="col-sm-4">
			<div class="news-item__item">
				<div class="news-item__photo">
					<img data-src="images/news-item__pic2.jpg" alt="" class="news-item__pic lazyload" />
				</div>
				<!-- /.news-item__photo -->
				<div class="news-item__desc">
					<div class="news-item__name">
						Скидка за скорость 20% для десяти самых быстрых покупателей
					</div>
					<!-- /.news-item__name -->
					<div class="news-item__more">Узнать больше</div>
					<!-- /.news-item__more -->
				</div>
				<!-- /.news-item__desc -->
				<a href="#" class="news-item__link"></a>
			</div>
			<!-- /.news-item__item -->
		</div>
		<!-- /.col-sm-4 -->
		<div class="col-sm-4">
			<div class="news-item__item">
				<div class="news-item__photo">
					<img data-src="images/news-item__pic3.jpg" alt="" class="news-item__pic lazyload" />
				</div>
				<!-- /.news-item__photo -->
				<div class="news-item__desc">
					<div class="news-item__name">
						Long headline for two,  three lines that catch attention
					</div>
					<!-- /.news-item__name -->
					<div class="news-item__more">Узнать больше</div>
					<!-- /.news-item__more -->
				</div>
				<!-- /.news-item__desc -->
				<a href="#" class="news-item__link"></a>
			</div>
			<!-- /.news-item__item -->
		</div>
		<!-- /.col-sm-4 -->
	</div>
	<!-- /.-row -->
</div>
<!-- /.news-item -->
