<div class="detail-select">
	<div class="detail-select__row">
		<div class="detail-select__desc">

			<div class="detail-select__title">Выберите ткань обивки</div>
			<!-- /.detail-select__title -->

			<div class="detail-select__scroll">
				<div class="detail-select__section">
					<div class="detail-select__header">
						<div class="detail-select__smtitle">Выбор Консула</div>
						<!-- /.detail-select__smtitle -->
						<div class="detail-select__price">от 5 500	₽</div>
						<!-- /.detail-select__price -->
					</div>
					<!-- /.detail-select__header -->
					<div class="detail-select__block">
						<label class="detail-select__label" style="background: url(images/detail-select__label1.png) no-repeat center;">
							<input type="radio" class="detail-select__input" data-photo-preview="images/detail-select__pic.jpg" />
							<div class="detail-select__icon"></div>
							<!-- /.detail-select__icon -->
						</label>
						<!-- /.detail-select__label -->
						<label class="detail-select__label" style="background: url(images/detail-select__label2.png) no-repeat center;">
							<input type="radio" class="detail-select__input" checked />
							<div class="detail-select__icon"></div>
							<!-- /.detail-select__icon -->
						</label>
						<!-- /.detail-select__label -->
						<label class="detail-select__label" style="background: url(images/detail-select__label3.png) no-repeat center;">
							<input type="radio" class="detail-select__input" data-photo-preview="images/detail-select__pic.jpg" />
							<div class="detail-select__icon"></div>
							<!-- /.detail-select__icon -->
						</label>
						<!-- /.detail-select__label -->
						<label class="detail-select__label" style="background: url(images/detail-select__label4.png) no-repeat center;">
							<input type="radio" class="detail-select__input" data-photo-preview="images/detail-select__pic.jpg" />
							<div class="detail-select__icon"></div>
							<!-- /.detail-select__icon -->
						</label>
						<!-- /.detail-select__label -->
					</div>
					<!-- /.detail-select__block -->
				</div>
				<!-- /.detail-select__section -->
				<div class="detail-select__section">
					<div class="detail-select__header">
						<div class="detail-select__smtitle">Вторая категория</div>
						<!-- /.detail-select__smtitle -->
						<div class="detail-select__price">от 8 900	₽</div>
						<!-- /.detail-select__price -->
					</div>
					<!-- /.detail-select__header -->
					<div class="detail-select__block">
						<label class="detail-select__label" style="background: url(images/detail-select__label1.png) no-repeat center;">
							<input type="radio" class="detail-select__input" data-photo-preview="images/detail-select__pic.jpg" />
							<div class="detail-select__icon"></div>
							<!-- /.detail-select__icon -->
						</label>
						<!-- /.detail-select__label -->
						<label class="detail-select__label" style="background: url(images/detail-select__label2.png) no-repeat center;">
							<input type="radio" class="detail-select__input" data-photo-preview="images/detail-select__pic.jpg" />
							<div class="detail-select__icon"></div>
							<!-- /.detail-select__icon -->
						</label>
						<!-- /.detail-select__label -->
						<label class="detail-select__label" style="background: url(images/detail-select__label3.png) no-repeat center;">
							<input type="radio" class="detail-select__input" data-photo-preview="images/detail-select__pic.jpg" />
							<div class="detail-select__icon"></div>
							<!-- /.detail-select__icon -->
						</label>
						<!-- /.detail-select__label -->
						<label class="detail-select__label" style="background: url(images/detail-select__label4.png) no-repeat center;">
							<input type="radio" class="detail-select__input" data-photo-preview="images/detail-select__pic.jpg" />
							<div class="detail-select__icon"></div>
							<!-- /.detail-select__icon -->
						</label>
						<!-- /.detail-select__label -->
						<label class="detail-select__label" style="background: url(images/detail-select__label4.png) no-repeat center;">
							<input type="radio" class="detail-select__input" data-photo-preview="images/detail-select__pic.jpg" />
							<div class="detail-select__icon"></div>
							<!-- /.detail-select__icon -->
						</label>
						<!-- /.detail-select__label -->
						<label class="detail-select__label" style="background: url(images/detail-select__label1.png) no-repeat center;">
							<input type="radio" class="detail-select__input" data-photo-preview="images/detail-select__pic.jpg" />
							<div class="detail-select__icon"></div>
							<!-- /.detail-select__icon -->
						</label>
						<!-- /.detail-select__label -->
						<label class="detail-select__label" style="background: url(images/detail-select__label2.png) no-repeat center;">
							<input type="radio" class="detail-select__input" data-photo-preview="images/detail-select__pic.jpg" />
							<div class="detail-select__icon"></div>
							<!-- /.detail-select__icon -->
						</label>
						<!-- /.detail-select__label -->
						<label class="detail-select__label" style="background: url(images/detail-select__label3.png) no-repeat center;">
							<input type="radio" class="detail-select__input" data-photo-preview="images/detail-select__pic.jpg" />
							<div class="detail-select__icon"></div>
							<!-- /.detail-select__icon -->
						</label>
						<!-- /.detail-select__label -->
						<label class="detail-select__label" style="background: url(images/detail-select__label4.png) no-repeat center;">
							<input type="radio" class="detail-select__input" data-photo-preview="images/detail-select__pic.jpg" />
							<div class="detail-select__icon"></div>
							<!-- /.detail-select__icon -->
						</label>
						<!-- /.detail-select__label -->
						<label class="detail-select__label" style="background: url(images/detail-select__label4.png) no-repeat center;">
							<input type="radio" class="detail-select__input" data-photo-preview="images/detail-select__pic.jpg" />
							<div class="detail-select__icon"></div>
							<!-- /.detail-select__icon -->
						</label>
						<!-- /.detail-select__label -->
					</div>
					<!-- /.detail-select__block -->
				</div>
				<!-- /.detail-select__section -->
			</div>
			<!-- /.detail-select__scroll -->

		</div>
		<!-- /.detail-select__desc -->
		<div class="detail-select__photo" id="js-detail-select__photo" style="background: url(images/detail-select__pic.jpg)">
			<a href="#" class="detail-select__select">Выбрать</a>
		</div>
		<!-- /.detail-select__photo -->
	</div>
	<!-- /.detail-select__row -->
	<script>
		(function() {

			var inputs = document.querySelectorAll('[data-photo-preview]');
			var preview = document.querySelector('#js-detail-select__photo');

			inputs.forEach(function(node) {

				if(node.checked) {
					preview.style.background = 'url(' + node.getAttribute('data-photo-preview') + ')';
				}

				node.addEventListener('change', function() {
					preview.style.background = 'url(' + node.getAttribute('data-photo-preview') + ')';
				});
			});

		})();
	</script>
</div>
<!-- /.detail-select -->
