.detail-select {
	width: 888px;
	height: 420px;

	&__row {
		display: flex;
		align-items: stretch;
		height: 100%;
	}

	&__desc {
		height: 100%;
		width: calc(100% - 420px);
		padding: 30px 10px 30px 40px;
	}

	&__scroll {
		height: 298px;
		overflow-y: auto;
		padding-right: 25px;
		@include scrollCss();
	}

	&__title {
		font-family: VremenaGrotesk;
		font-style: normal;
		font-weight: bold;
		font-size: 24px;
		line-height: 32px;
		letter-spacing: -0.1px;
		color: #8A1541;
		margin-bottom: 30px;
	}

	&__section {}

	&__header {
		margin-bottom: 16px;
		display: flex;
	}

	&__smtitle {
		font-family: VremenaGrotesk;
		font-style: normal;
		font-weight: bold;
		font-size: 16px;
		line-height: 32px;
		letter-spacing: -0.1px;
		margin-right: 16px;
	}

	&__price {
		font-weight: bold;
		font-size: 15px;
		line-height: 28px;
		text-align: right;
		color: #D58D85;
	}

	&__block {
		margin: 0 -8px 0 -6px;
		display: flex;
		flex-wrap: wrap;
	}

	&__label {
		display: block;
		margin: 0 8px 16px;
		width: 64px;
		height: 64px;
		background-repeat: no-repeat;
		background-position: center center;
		background-size: cover;
		position: relative;
		border-radius: 8px;
	}

	&__input {
		opacity: 0;
	}

	&__input:checked ~ &__icon {
		position: absolute;
		left: -2px;
		top: -2px;
		right: -2px;
		bottom: -2px;
		border: 2px solid #8A1541;
		border-radius: 8px;
	}

	&__photo {
		width: 420px;
		height: 100%;
		display: flex;
		align-items: flex-end;
		padding: 35px;
		background-repeat: no-repeat;
		background-position: center center;
		background-size: cover;
		transition: background 400ms;
	}

	&__select {
		@include button();
	}
}