.news-detail {
	padding-top: 34px;
	margin-bottom: 75px;

	&__inner {}

	&__pic {
		margin-bottom: 50px;

		img {
			display: block;
			max-width: 100%;
		}
	}

	&__text {
		max-width: 610px;
		font-size: 16px;
		font-weight: 400;
		letter-spacing: 0.1px;
		line-height: 24px;
		margin: 0 auto;

		p {
			margin-bottom: 25px;
		}
	}

	&__smtitle {
		font-size: 18px;
		font-weight: 700;
		margin-bottom: 25px;
	}

	&__title {
		font-family: VremenaGrotesk;
		font-size: 24px;
		font-weight: 500;
		line-height: 32px;
		margin-bottom: 40px;
	}
	@media (--phone) {
		padding-top: 0;
		margin-bottom: 32px;

		.title {
			text-align: left;
		}

		&__pic {
			margin: 0 -20px 45px;

			img {
				display: block;
				max-width: 100%;
			}
		}

		&__text {
			max-width: 610px;
			font-size: 16px;
			font-weight: 400;
			letter-spacing: 0.1px;
			line-height: 24px;
			margin: 0 auto;

			p {
				margin-bottom: 25px;
			}
		}

		&__smtitle {
			font-size: 18px;
			font-weight: 700;
			margin-bottom: 25px;
		}

		&__title {
			margin-bottom: 25px;
		}
	}
}