<div class="news-detail">

	<div class="news-detail__inner">
		<div class="title">
			Кэшбэк 10% при оплате картой Tinkoff Bank
		</div>
		<!-- /.title -->
		<div class="news-detail__pic">
			<img data-src="images/news-detail.png" alt="" class="lazyload" />
		</div>
		<!-- /.news-detail__pic -->
		<div class="news-detail__text">
			<div class="news-detail__title">
				24 мая 2018 года Holding Consul заключил партнёрский договор с Tinkoff Bank на предоставление специального бонуса для держателей карт банка "Тинькофф".
			</div>
			<!-- /.news-detail__title -->
			<p><b>Условия предоставления кэшбэка:</b></p>

			<p>
				Срок проведения: с 24 мая по 24 июля;<br>
				Участвую все группы товаров, размещённые в нашем интернет-магазине;<br>
				Cashback (возврат средств) составляет 10% от оплаченной суммы любой картой Банка Тинькофф.
			</p>

			<p><b>Оплата:</b></p>

			<p>Оплату картой Тинькофф можно осуществить в нашем интернет-магазине, при оформление заказа выбрав "Банковской картой на сайте" в способах оплаты;</p>

			<p>При доставке через терминал курьера.</p>

		</div>
		<!-- /.news-detail__text -->
	</div>
	<!-- /.news-detail__inner -->

</div>
<!-- /.news-detail -->
