.basket-delivery {
	margin-bottom: 35px;

	&__title {}

	&__section {
		display: flex;
		margin: 0 -4px;
		flex-wrap: wrap;
	}

	&__label {
		width: calc(100% / 3);
		display: block;
		padding: 0 4px;
		position: relative;
	}

	&__input {
		position: absolute;
		left: 0;
		top: 0;
		opacity: 0;
	}

	&__text {
		cursor: pointer;
		display: flex;
		align-items: center;
		justify-content: center;
		width: 100%;
		height: 36px;
		font-weight: 500;
		font-size: 14px;
		line-height: 24px;
		text-align: center;
		letter-spacing: 0.1px;
		color: #8A1541;
		border-radius: 4px;
		border: 1px solid #8A1541;
		transition: color 300ms, background 300ms;
	}

	&__input:checked + &__text {
		background: #8A1541;
		color: #fff;
	}
	@media (--phone) {
		margin-bottom: 16px;

		&__section {
			margin: 0 -8px;
		}

		&__label {
			width: 50%;
			padding: 0 8px;
			margin-bottom: 16px;
		}
	}
}