{% import "form/form.njk" as form %}
<div class="basket-delivery">
	<div class="basket-delivery__title basket__title">Способ доставки</div>
	<div class="basket-delivery__section">
		<label class="basket-delivery__label">
			<input type="radio" name="" class="basket-delivery__input" checked />
			<span class="basket-delivery__text">Доставка</span>
		</label>
		<label class="basket-delivery__label">
			<input type="radio" name="" class="basket-delivery__input" />
			<span class="basket-delivery__text">Самовывоз</span>
		</label>
	</div>
</div>
<!-- /.basket-delivery -->
