<div class="section-top {{ sectionTopModifier }}" id="js-section-top">

	<div class="section-top__col">

		{% from "breadcrumbs/breadcrumbs.njk" import breadcrumbs %}

		{% if breadcrumbsTrigger != 'hide' %}
			{{ breadcrumbs (text = text, data = data, modifierItem = modifierItem, modifierText = modifierText) }}
		{% endif %}

	</div>
	<!-- /.section-top__col -->


	<div class="section-top__col">

		{% include "menu/menu/menu.njk" %}

		{% include "section-top/favorite-small/favorite-small.njk" %}

		{% include "section-top/basket-small/basket-small.njk" %}

	</div>
	<!-- /.section-top__col -->

</div>
<!-- /.section-top -->
