.section-top {
	display: flex;
	width: 1110px;
	margin: 0 auto 15px;
	align-items: center;
	justify-content: space-between;

	&__col {
		display: flex;
		align-items: center;

		&:nth-child(1) {
			min-width: 10px;
		}

		&:nth-child(2) {
			justify-content: flex-end;
		}
	}
	@media (--phone) {
		width: auto;
		margin-bottom: 0;

		&_hide {
			display: none;
		}

		&__col {
			display: flex;
			align-items: center;

			&:nth-child(1) {}

			&:nth-child(2) {
				display: none;
			}
		}
	}
}