<div class="footer-subscribe">
	<form action="#" class="footer-subscribe__form">
		<input type="text" class="footer-subscribe__input" placeholder="Адрес эл. почты" />
		<input type="submit" value="Отправить" class="footer-subscribe__submit" />
	</form>
	<!-- /.footer-subscribe__form -->
	<div class="footer-subscribe__info">
		Подпишитесь на нашу рассылку и получите дополнительную скидку
	</div>
	<!-- /.footer-subscribe__info -->
</div>
<!-- /.footer-subscribe -->
