.footer-subscribe {
	&__form {
		height: 48px;
		background-color: rgb(255, 255, 255);
		position: relative;
		display: flex;
		justify-content: space-between;
		margin-bottom: 24px;
	}

	&__input {
		background: none;
		padding: 0 16px;
		height: 100%;
		font-size: 16px;
		line-height: 1.5;
		letter-spacing: 0.1px;
		color: rgb(161, 161, 161);
		border: none;
		width: calc(100% - 95px);
	}

	&__submit {
		font-family: VremenaGrotesk;
		font-size: 12px;
		font-weight: bold;
		line-height: 1.33;
		letter-spacing: 0.1px;
		color: rgb(138, 21, 65);
		padding: 0 16px;
		height: 100%;
		border: none;
		background: none;
	}

	&__info {
		opacity: 0.4;
		font-size: 14px;
		line-height: 1.43;
		color: rgb(0, 0, 0);
	}
	@media (--phone) {
		&__form {
			box-shadow: 0 1px 1px #8A1541;
		}

		&__input {
			width: calc(100% - 45px);
		}

		&__submit {
			background: url("../images/footer-subscribe.svg") no-repeat center;
			width: 50px;
			text-indent: -9999px;
		}
	}
}