.basket-small {
	position: relative;
	border-radius: 4px;
	height: 32px;
	display: flex;
	align-items: center;
	padding: 0 60px 0 24px;
	background: #8A1541 url("../images/basket-small.svg") no-repeat;
	background-position: right 24px center;
	margin-left: 24px;

	&__text {
		font-size: 14px;
		line-height: 20px;
		color: #FFFFFF;

		&_empty span {
			opacity: 0.25;
			margin-right: 5px;
		}
	}

	&__link {
		position: absolute;
		left: 0;
		top: 0;
		width: 100%;
		height: 100%;
	}
}