<div class="basket-small">
	{% if basketEmpty == 'empty' %}
	<div class="basket-small__text basket-small__text_empty">
		<span>Корзина</span> 0
	</div>
	<!-- /.basket-small__text -->
	{% else %}
	<div class="basket-small__text">
		<span>1 товар на</span> 20 000 ₽
	</div>
	<!-- /.basket-small__text -->
	<a href="#" class="basket-small__link"></a>
	{% endif %}
</div>
<!-- /.basket-small -->
