.title {
	font-family: VremenaGrotesk;
	font-style: normal;
	font-weight: bold;
	font-size: 42px;
	line-height: 39px;
	letter-spacing: -0.1px;
	margin-bottom: 20px;

	.news-detail & {
		text-align: center;
		max-width: 610px;
		margin: 0 auto 20px;
	}

	&_sm {
		font-family: VremenaGrotesk;
		font-size: 24px;
		font-weight: 700;
		letter-spacing: -0.1px;
		line-height: 32px;
		margin-bottom: 25px;
		color: #8a1541;
	}

	&_main {
		font-family: VremenaGrotesk;
		font-style: normal;
		font-weight: bold;
		font-size: 36px;
		line-height: 36px;
		letter-spacing: -1px;
		color: #E42323;
		margin-bottom: 20px;
	}

	&_pink {
		color: #D58D85;
	}
	@media (--phone) {
		margin-bottom: 16px;

		&_sm {
			margin-bottom: 8px;
		}
	}
}