.tooltip {
	width: 14px;
	height: 14px;
	background: url("../images/tooltip__icon.svg") no-repeat;
	cursor: pointer;

	.detail-price & {
		position: absolute;
		left: 50%;
		bottom: -15px;
		margin-left: -7px;
	}

	.basket-complect & {
		margin-left: 10px;
	}
}