.seo {
	max-width: 730px;
	margin: 0 auto 50px;

	&__inner {}

	&__title,
	h1,
	h2,
	h3,
	h4,
	h5,
	h6 {
		font-family: VremenaGrotesk;
		font-size: 36px;
		font-weight: bold;
		line-height: 1.67;
		letter-spacing: -1px;
		color: rgb(138, 21, 65);
	}
	@media (--phone) {
		font-weight: 300;
		font-size: 17px;
		line-height: 34px;
		letter-spacing: 0.1px;
		position: relative;
		padding-bottom: 80px;

		&__title,
		h1,
		h2,
		h3,
		h4,
		h5,
		h6 {
			line-height: 48px;
		}

		&__inner {
			overflow: hidden;
			max-height: 470px;
			transition: max-height 400ms;
		}

		&__more {
			border: 1px solid #8A1541;
			border-radius: 4px;
			height: 48px;
			cursor: pointer;
			font-family: VremenaGrotesk;
			font-style: normal;
			font-weight: 500;
			font-size: 24px;
			line-height: 24px;
			letter-spacing: 0.1px;
			color: #8A1541;
			position: absolute;
			left: 0;
			width: 100%;
			bottom: 0;
			display: flex;
			align-items: center;
			justify-content: center;

			&:after {
				content: 'Читать полностью';
			}

			&.active:after {
				content: 'Свернуть';
			}
		}

		&__more.active + &__inner {
			max-height: 2000px;
		}
	}
}