<div class="seo">
	<div class="seo__more" data-toggle-class></div>
	<!-- /.seo__more -->
	<div class="seo__inner">

		<h1>О матрасах Consul</h1>

		<p>Спать и высыпаться — не одно и то же. Специалисты компании Consul доказывают
			это не первый год и предлагают удобные ортопедические матрасы. Закажите их в нашем интернет-магазине, и вы начнете высыпаться, потому что все примененные технологии, материалы (наполнители и блоки пружин) обеспечивают полноценный отдых
			и комфортное естественное положение во время сна.</p>

		<p>В интернет-магазине в Москве можно заказать матрас любого типа и категории.</p>

		<p>Советуем выбрать модели: <br />
			— недорогие и элитные; <br />
			— на детские, одноместные, полуторные и двухместные кровати; <br />
			— с натуральным (кокосовая кайра, войлок, латекс) и искусственным наполнителем; <br />
			— беспружинные и пружинные (с зависимым блоком «Боннель», с основой «Мультипакет»,
			с блоком независимых пружин); <br />
			— высокие и низкие; <br />
			— жёсткие, средние или мягкие (смотрите размеры, показатели жесткости и высоты
			в описании к товару на сайте); <br />
			— с разной рекомендуемой нагрузкой (весом до 100 или 120 килограмм на спальное место);</p>

		<p>Купить матрасы в интернет-магазине в Москве можно в любое время и день: заказы принимаются круглосуточно. Для совершения покупки положите товар в корзину или позвоните по телефону.</p>

		<p>Следите за нашими акциями: большие скидки позволят приобрести понравившуюся модель по цене ниже на 20-40%, что составляет до 15,000 рублей. Также у нас можно купить кровати, основания, подушки и другие аксессуары.</p>

	</div>
</div>
