.main-catalog {
	position: relative;
	margin-bottom: 40px;
	@media (--phone) {
		padding-bottom: 48px;

		&__inner {
			overflow: hidden;
			max-height: 1600px;
			transition: max-height 400ms;
		}

		&__more {
			border: 1px solid #8A1541;
			border-radius: 4px;
			height: 48px;
			cursor: pointer;
			font-family: VremenaGrotesk;
			font-style: normal;
			font-weight: 500;
			font-size: 24px;
			line-height: 24px;
			letter-spacing: 0.1px;
			color: #8A1541;
			position: absolute;
			left: 0;
			width: 100%;
			bottom: 0;
			display: flex;
			align-items: center;
			justify-content: center;

			&:after {
				content: 'Показать еще';
			}

			&.active:after {
				content: 'Свернуть';
			}
		}

		&__more.active + &__inner {
			max-height: 10000px;
		}

		.swiper__pagination {
			display: none;
		}

		.swiper-wrapper {
			flex-direction: column;
			height: auto;
		}

		.swiper-slide {
			width: 100% !important;
		}
	}
}