.main-banner {
	max-width: 1440px;
	margin: 0 auto 50px;
	position: relative;

	&__inner {}

	&__item {
		position: relative;
	}

	&__pic {
		display: block;
		width: 100%;

		img {
			display: block;
			width: 100%;
		}
	}
	@media (--phone) {
		display: none;
	}
}