<div class="main-banner">
	<div class="main-banner__inner">
		<div class="swiper">
			<div class="swiper-container" data-swiper data-options='{"slidesPerView": 1, "spaceBetween": 30}'>
				<div class="swiper-wrapper">
					{% for item in '111111' %}
					<div class="swiper-slide">

						<div class="main-banner__item">
							<picture class="main-banner__pic">
								<source media="(max-width: 768px)" data-srcset="images/main-banner__pic_w768.png">
								<img data-src="images/main-banner.jpg" alt="" class="lazyload">
							</picture>
						</div>
						<!-- /.main-banner__item --> 


					</div>
					{% endfor %}
				</div>
			</div>
			<div class="swiper__arrow">
				<div class="swiper__prev js-swiper__prev"></div>
				<div class="swiper__next js-swiper__next"></div>
			</div>
			<div class="js-swiper-pagination swiper__pagination"></div>
		</div>
		<!-- /.swiper -->
	</div>
</div>
<!-- /.main-banner -->
