<div class="header">
	<div class="header__inner">

		{% include "header/logo/global/logo.njk" %}

		{% include "header/header-phone/header-phone.njk" %}

		{% include "menu/menu-header/menu-header.njk" %}

		<div class="header__search"></div>
		<!-- /.header__search -->

		<div class="header__burger" data-mobile-menu-burger>
			<span></span>
		</div>

	</div>
	<!-- /.header__inner -->
</div>
<!-- /.header -->
