.header {
	position: relative;
	z-index: 1;
	background: #FDFAFA;
	margin-bottom: 13px;

	&__inner {
		width: 1374px;
		margin: 0 auto;
		height: 80px;
		display: flex;
		align-items: center;
		position: relative;
	}

	&__search {
		position: absolute;
		top: 15px;
		right: 0;
		width: 32px;
		height: 32px;
		background: url("../images/search.svg") no-repeat center;
		cursor: pointer;
	}
	@media (--phone) {
		margin: 0;
		background: none;
		position: fixed;
		left: 0;
		top: 0;
		width: 100%;
		background: #fff;
		z-index: 10;

		&__inner {
			width: 100%;
			height: 96px;
			padding: 20px;
		}

		&__search {
			display: none;
		}

		&__burger {
			position: absolute;
			right: 10px;
			top: 21px;
			width: 40px;
			height: 40px;
			display: flex;
			align-items: center;
			justify-content: center;

			span {
				flex-shrink: 0;
				width: 24px;
				height: 2px;
				border-radius: 1px;
				background: #8A1541;
				position: relative;

				&:after,
				&:before {
					width: 24px;
					height: 2px;
					border-radius: 1px;
					background: #8A1541;
					position: absolute;
					left: 0;
					content: '';
				}

				&:before {
					top: -6px;
				}

				&:after {
					bottom: -6px;
				}
			}
		}
	}
}