{% from "catalog/catalog-thumb/catalog-thumb.njk" import thumb %}
<div class="catalog">
	<div class="row">
		<div class="col-sm-3">

			<div class="catalog__item">

				{{
					thumb(
						name = 'Гвидон',
						text = 'Матрас умеренной, средней жёсткости, в состав которого входит натуральная, гипоаллергенная кокосовая койра.',
						colors = ['images/catalog-thumb__color1.png', 'images/catalog-thumb__color2.png']
					)
				}}

			</div>
			<!-- /.catalog__item -->

		</div>
		<!-- /.col-sm-3 -->
		<div class="col-sm-3">

			<div class="catalog__item">

				{{
					thumb(
						label = true,
						labelIcon = true,
						name = 'Гвидон',
						text = 'Матрас умеренной, средней жёсткости, в состав которого входит натуральная, гипоаллергенная кокосовая койра.',
						oldprice = true
					)
				}}

			</div>
			<!-- /.catalog__item -->

		</div>
		<!-- /.col-sm-3 -->
		<div class="col-sm-3">

			<div class="catalog__item">

				{{
					thumb(
						name = 'Гвидон',
						text = 'Матрас умеренной, средней жёсткости, в состав которого входит натуральная, гипоаллергенная кокосовая койра.',
						colors = ['images/catalog-thumb__color1.png', 'images/catalog-thumb__color2.png']
					)
				}}

			</div>
			<!-- /.catalog__item -->

		</div>
		<!-- /.col-sm-3 -->
		<div class="col-sm-3">

			<div class="catalog__item">

				{{
					thumb(
						name = 'Гвидон',
						text = 'Матрас умеренной, средней жёсткости, в состав которого входит натуральная, гипоаллергенная кокосовая койра.',
						colors = ['images/catalog-thumb__color1.png', 'images/catalog-thumb__color2.png']
					)
				}}

			</div>
			<!-- /.catalog__item -->

		</div>
		<!-- /.col-sm-3 -->
		<div class="col-sm-6">
			<div class="row">
				<div class="col-sm-6">
					<div class="catalog__item">

						{{
							thumb(
								name = 'Гвидон',
								text = 'Матрас умеренной, средней жёсткости, в состав которого входит натуральная, гипоаллергенная кокосовая койра.',
								colors = ['images/catalog-thumb__color1.png', 'images/catalog-thumb__color2.png']
							)
						}}

					</div>
					<!-- /.catalog__item -->
				</div>
				<!-- /.col-sm-6 -->
				<div class="col-sm-6">
					<div class="catalog__item">

						{{
							thumb(
								name = 'Гвидон',
								text = 'Матрас умеренной, средней жёсткости, в состав которого входит натуральная, гипоаллергенная кокосовая койра.',
								colors = ['images/catalog-thumb__color1.png', 'images/catalog-thumb__color2.png']
							)
						}}

					</div>
					<!-- /.catalog__item -->
				</div>
				<!-- /.col-sm-6 -->
				<div class="col-sm-6">
					<div class="catalog__item">

						{{
							thumb(
								name = 'Гвидон',
								text = 'Матрас умеренной, средней жёсткости, в состав которого входит натуральная, гипоаллергенная кокосовая койра.',
								colors = ['images/catalog-thumb__color1.png', 'images/catalog-thumb__color2.png']
							)
						}}

					</div>
					<!-- /.catalog__item -->
				</div>
				<!-- /.col-sm-6 -->
				<div class="col-sm-6">
					<div class="catalog__item">

						{{
							thumb(
								name = 'Гвидон',
								text = 'Матрас умеренной, средней жёсткости, в состав которого входит натуральная, гипоаллергенная кокосовая койра.',
								colors = ['images/catalog-thumb__color1.png', 'images/catalog-thumb__color2.png']
							)
						}}

					</div>
					<!-- /.catalog__item -->
				</div>
				<!-- /.col-sm-6 -->
			</div>
			<!-- /.row -->
		</div>
		<!-- /.col-sm-6 -->
		<div class="col-sm-6">

			<div class="catalog__item">

				{{
					thumb(
						modifierClass = 'catalog-thumb_large',
						src = 'images/catalog-thumb__pic_large.jpg',
						name = 'Гвидон',
						text = 'Дублирующая модель матраса "Салтан Мульти" в более бюджетном исполнение. Натуральный латекс заменен на искусственный аналог - пенополиуретан.',
						colors = ['images/catalog-thumb__color1.png', 'images/catalog-thumb__color2.png']
					)
				}}

			</div>
			<!-- /.catalog__item -->

		</div>
		<!-- /.col-sm-6 -->
		<div class="col-sm-3">

			<div class="catalog__item">

				{{
					thumb(
						name = 'Гвидон',
						text = 'Матрас умеренной, средней жёсткости, в состав которого входит натуральная, гипоаллергенная кокосовая койра.',
						colors = ['images/catalog-thumb__color1.png', 'images/catalog-thumb__color2.png']
					)
				}}

			</div>
			<!-- /.catalog__item -->

		</div>
		<!-- /.col-sm-3 -->
		<div class="col-sm-3">

			<div class="catalog__item">

				{{
					thumb(
						label = true,
						labelIcon = true,
						name = 'Гвидон',
						text = 'Матрас умеренной, средней жёсткости, в состав которого входит натуральная, гипоаллергенная кокосовая койра.',
						oldprice = true
					)
				}}

			</div>
			<!-- /.catalog__item -->

		</div>
		<!-- /.col-sm-3 -->
		<div class="col-sm-3">

			<div class="catalog__item">

				{{
					thumb(
						name = 'Гвидон',
						text = 'Матрас умеренной, средней жёсткости, в состав которого входит натуральная, гипоаллергенная кокосовая койра.',
						colors = ['images/catalog-thumb__color1.png', 'images/catalog-thumb__color2.png']
					)
				}}

			</div>
			<!-- /.catalog__item -->

		</div>
		<!-- /.col-sm-3 -->
		<div class="col-sm-3">

			<div class="catalog__item">

				{{
					thumb(
						name = 'Гвидон',
						text = 'Матрас умеренной, средней жёсткости, в состав которого входит натуральная, гипоаллергенная кокосовая койра.',
						colors = ['images/catalog-thumb__color1.png', 'images/catalog-thumb__color2.png']
					)
				}}

			</div>
			<!-- /.catalog__item -->

		</div>
		<!-- /.col-sm-3 -->
	</div>
	<!-- /.row -->
</div>
<!-- /.catalog -->
