.footer {
	min-height: 364px;
	position: absolute;
	left: 0;
	width: 100%;
	bottom: 0;

	&__top {
		background-color: rgba(213, 141, 133, .04);
		padding: 40px 0 83px;
		min-height: 304px;
	}

	&__row {}

	&__logo {
		a {
			text-decoration: none;
		}

		img {
			width: 101px;
			height: 26px;
		}
	}

	&__title {
		font-family: VremenaGrotesk;
		font-size: 16px;
		font-weight: 500;
		line-height: 1.5;
		letter-spacing: 0.1px;
		color: rgb(213, 141, 133);
		margin-bottom: 22px;
	}

	&__bottom {
		display: flex;
		align-items: center;
		justify-content: space-between;
		height: 60px;
	}

	&__inner {
		width: 1110px;
		margin: 0 auto;
	}

	&__copyright {
		font-size: 14px;
		font-weight: 400;
		line-height: 20px;
		margin-right: 22px;
		white-space: nowrap;
	}

	&__section {
		display: flex;
	}

	&__link {
		color: #000;
		font-size: 14px;
		font-weight: 400;
		line-height: 20px;
		margin-right: 22px;
		opacity: 0.4;
		white-space: nowrap;
	}
	@media (--phone) {
		&__top {
			padding: 40px 0 37px;
		}

		&__row {
			flex-direction: column;

			[class*=col-] {
				width: 100%;
			}
		}

		&__logo {
			display: none;
		}

		&__title {
			font-weight: 500;
			font-size: 24px;
			line-height: 24px;
			letter-spacing: 0.1px;
			margin-bottom: 20px;
		}

		&__bottom {
			position: relative;
			height: 260px;

			.row {
				margin-left: 0;
				margin-right: 0;

				[class*=col-] {
					padding: 0;
					position: static;
				}
			}
		}

		&__section {
			position: absolute;
			left: 20px;
			top: 24px;
			flex-direction: column;
		}

		&__inner {
			width: 100%;
			padding: 0 20px;
		}

		&__copyright {
			position: absolute;
			left: 20px;
			bottom: 48px;
			max-width: 180px;
			white-space: normal;
		}

		&__link {
			display: block;
			margin-bottom: 8px;
		}
	}
}