<div class="footer">
	<div class="footer__top">
		<div class="footer__inner">
			<div class="footer__row row">
				<div class="col-sm-2">
					<div class="footer__logo">
						<a href="#">
							<img data-src="images/footer-logo.svg" alt="" class="lazyload" />
						</a>
					</div>
					<!-- /.footer__logo -->
				</div>
				<!-- /.col-sm-3 -->
				<div class="col-sm-6">

					{% include "menu/menu-footer/menu-footer.njk" %}

				</div>
				<!-- /.col-sm-5 -->
				<div class="col-sm-4">

					<div class="footer__title">
						Подписка
					</div>
					<!-- /.footer__title -->

					{% include "footer/footer-subscribe/footer-subscribe.njk" %}

				</div>
				<!-- /.col-sm-4 -->
			</div>
			<!-- /.footer__row row -->
		</div>
		<!-- /.footer__inner -->
	</div>
	<!-- /.footer__top -->
	<div class="footer__bottom">
		<div class="footer__inner">
			<div class="row">
				<div class="col-sm-8 d-flex">
					<div class="footer__copyright">&copy; 2019 Матрасы «Консул». Все права защищены</div>
					<!-- /.footer__copyright -->
					<div class="footer__section">
						<a href="#" class="footer__link">Пользовательское соглашение</a>
						<a href="#" class="footer__link">Политика конфиденциальности</a>
					</div>
					<!-- /.footer__section -->
				</div>
				<!-- /.col-sm-8 -->
				<div class="col-sm-4">

					{% from "social/social-items/social-items.njk" import socialItems %}

					{{ socialItems(
						arr = ['fb', 'twitter', 'instagram', 'in'],
						mod = 'social-items_footer'
					) }}

				</div>
				<!-- /.col-sm-4 -->
			</div>
			<!-- /.row -->
		</div>
		<!-- /.footer__inner -->
	</div>
	<!-- /.footer__bottom -->
</div>
<!-- /.footer -->
