<div class="detail">
	<div class="detail__row">
		<div class="detail__left">

			{% include "detail-page/detail-gallery/detail-gallery.njk" %}

		</div>
		<!-- /.detail__left -->
		<div class="detail__right">

			{% include "detail-page/detail-desc/detail-desc.njk" %}

			{% include "detail-page/detail-properties/detail-properties.njk" %}

			<script>
				window.addEventListener('DOMContentLoaded', function() {
					fetch('ajax/popup/detail-select/detail-select.html')
						.then((response) => {
							return response.text();
						})
						.then((data) => {
							globalPopup.options({
								closeShow: false
							}).html(data).show();
						});
				});
			</script>

		</div>
		<!-- /.detail__right -->
		<div class="detail__left">

			{% include "detail-page/detail-text/detail-text.njk" %}

		</div>
		<!-- /.detail__left -->
	</div>
	<!-- /.detail__row -->

	<div class="detail__smtitle">
		Отзывы покупателей
	</div>
	<!-- /.detail__smtitle -->

	{% include "detail-page/reviews/reviews/reviews.njk" %}

	<div class="detail__smtitle">
		Вместе с этим товаров интересуются:
	</div>
	<!-- /.detail__smtitle -->

	{% set sale = true %}
	{% include "detail-page/detail-similar/similar-catalog.njk" %}

</div>
<!-- /.detail -->
