.detail {
	padding-top: 45px;

	&__row {
		margin: 0 -15px;
		@include clearfix();
	}

	&__left {
		padding: 0 15px;
		width: 754px;
		float: left;
	}

	&__right {
		padding: 0 15px;
		width: calc(100% - 754px);
		float: right;
	}

	&__smtitle {
		font-family: VremenaGrotesk;
		font-style: normal;
		font-weight: bold;
		font-size: 24px;
		line-height: 32px;
		text-align: center;
		letter-spacing: -0.1px;
		color: #8A1541;
		margin-bottom: 16px;

		.detail-text & {
			text-align: left;
		}
	}
	@media (--phone) {
		padding-top: 0;

		&__left {
			width: 100%;
			float: none;
		}

		&__right {
			width: 100%;
			float: none;
		}

		&__smtitle {
			text-align: left;
		}
	}
}