<div class="detail-complect">
	<label class="detail-complect__field">
		<input type="checkbox" class="detail-complect__input" />
		<div class="detail-complect__col">
			<div class="detail-complect__text">Дополнительный чехол</div>
		</div>
		<div class="detail-complect__col">
			<div class="detail-complect__price">+ 1 000 ₽</div>
			<div class="detail-complect__icon"></div>
		</div>
	</label>
	<!-- /.detail-complect__field -->
	<label class="detail-complect__field">
		<input type="checkbox" class="detail-complect__input" />
		<div class="detail-complect__col">
			<div class="detail-complect__text">Молния по периметру</div>
		</div>
		<div class="detail-complect__col">
			<div class="detail-complect__price">+ 1 500 ₽</div>
			<div class="detail-complect__icon"></div>
		</div>
	</label>
	<!-- /.detail-complect__field -->
	<label class="detail-complect__field">
		<input type="checkbox" class="detail-complect__input" />
		<div class="detail-complect__col">
			<div class="detail-complect__text">Расширенная гарантия</div>
		</div>
		<div class="detail-complect__col">
			<div class="detail-complect__price">+ 2 500 ₽</div>
			<div class="detail-complect__icon"></div>
		</div>
	</label>
	<!-- /.detail-complect__field -->
</div>
<!-- /.detail-complect -->
