.detail-complect {
	width: 316px;
	margin-bottom: 40px;

	&__field {
		margin: 0 0 4px;
		display: flex;
		justify-content: space-between;
		align-items: center;
		cursor: pointer;
		position: relative;
	}

	&__input {
		position: absolute;
		left: 0;
		top: 0;
		opacity: 0;
	}

	&__col {
		display: flex;
		align-items: center;
	}

	&__text {
		font-size: 14px;
		line-height: 1;
	}

	&__price {
		font-weight: bold;
		font-size: 15px;
		line-height: 1;
		text-align: right;
		color: #D58D85;
		margin-right: 10px;
	}

	&__icon {
		width: 36px;
		height: 36px;
		border-radius: 4px;
		transition: background 400ms;
		background: #8A1541 url("https://icongr.am/entypo/plus.svg?size=20&color=ffffff") no-repeat center;
	}

	&__input:checked ~ &__col &__icon {
		background: #8A1541 url("https://icongr.am/feather/check.svg?size=20&color=ffffff") no-repeat center;
	}
	@media (--phone) {
		margin-bottom: 48px;
		width: 100%;

		&__field {
			margin-bottom: 16px;
			position: relative;
			display: block;
		}

		&__col {
			display: block;
		}

		&__text {
			margin-bottom: 8px;
		}

		&__price {
			text-align: left;
		}

		&__icon {
			position: absolute;
			right: 0;
			top: 50%;
			transform: translate(0, -50%);
		}
	}
}