.menu-content {
	margin-bottom: 40px;
	position: relative;
	padding: 20px 40px 0 0;

	&:before {
		width: 1px;
		height: 577px;
		position: absolute;
		background: #e2e2e2;
		right: 15px;
		top: 0;
		content: '';
	}

	&__list {
		list-style: none;
		margin: 0;
		padding: 0;
	}

	&__item {
		margin-bottom: 12px;
	}

	&__link {
		font-family: VremenaGrotesk;
		font-size: 16px;
		font-weight: 500;
		letter-spacing: 0.1px;
		line-height: 24px;
		color: #8a1541;
	}

	&_mod &__link {
		color: #d58d85;
		display: flex;
		align-items: center;

		&:after {
			width: 16px;
			height: 16px;
			background: url("https://icongr.am/fontawesome/angle-right.svg?size=16&color=999999") no-repeat;
			content: '';
			display: block;
			opacity: 0;
			transition: opacity 400ms;
			margin-left: 10px;
			position: relative;
			top: -1px;
		}
	}

	&_mod &__item.active &__link,
	&_mod &__link:hover {
		color: #000000;

		&:after {
			opacity: 1;
		}
	}

	&-sub {
		padding: 10px 0 0;
		margin: 0 0 0 12px;
		list-style: none;

		&__item {
			margin-bottom: 4px;
		}

		&__link {
			color: #d58d85;
			font-family: VremenaGrotesk;
			font-size: 16px;
			font-weight: 500;
			letter-spacing: 0.1px;
			line-height: 24px;
			display: inline-flex;
			align-items: center;

			&:after {
				width: 16px;
				height: 16px;
				background: url("https://icongr.am/fontawesome/angle-right.svg?size=16&color=999999") no-repeat;
				content: '';
				display: block;
				opacity: 0;
				transition: opacity 400ms;
				margin-left: 10px;
				position: relative;
				top: -1px;
			}
		}

		&__item.active &__link,
		&__link:hover {
			color: #000000;

			&:after {
				opacity: 1;
			}
		}
	}
	@media (--phone) {
		padding: 0;
		border: 1px solid solid #8A1541;
		border-radius: 4px;
		margin-bottom: 45px;

		&:before {
			display: none;
		}

		&__slide {
			cursor: pointer;
			padding: 0 20px;
			height: 36px;
			display: flex;
			align-items: center;
			line-height: 1;
			cursor: pointer;
			transition: background 300ms, color 300ms;

			&:after {
				content: 'Навигация раздела';
			}

			&.active {
				background: #8A1541;
				color: #fff;
			}
		}

		&__list {
			max-height: 0;
			overflow: hidden;
		}
	}
}