{% if trigger == 'delivery' %}
<div class="menu-content">
	<div class="menu-content__slide" data-toggle-class></div>
	<!-- /.menu-content -->
	<ul class="menu-content__list">
		<li class="menu-content__item active">
			<a href="#" class="menu-content__link">Условия доставки</a>

			<ul class="menu-content-sub">
				<li class="menu-content-sub__item">
					<a href="#" class="menu-content-sub__link">Общие условия</a>
				</li>
				<!-- /.menu-content-sub__item -->
				<li class="menu-content-sub__item active">
					<a href="#" class="menu-content-sub__link">По Москве </a>
				</li>
				<!-- /.menu-content-sub__item -->
				<li class="menu-content-sub__item">
					<a href="#" class="menu-content-sub__link">За пределы МКАД</a>
				</li>
				<!-- /.menu-content-sub__item -->
				<li class="menu-content-sub__item">
					<a href="#" class="menu-content-sub__link">Browsers & devices</a>
				</li>
				<!-- /.menu-content-sub__item -->
			</ul>
			<!-- /.menu-content-sub -->
		</li>
		<!-- /.menu-content__item -->
		<li class="menu-content__item">
			<a href="#" class="menu-content__link">Способы оплаты</a>
		</li>
		<!-- /.menu-content__item -->
		<li class="menu-content__item">
			<a href="#" class="menu-content__link">Советы региональным покупателям</a>
		</li>
		<!-- /.menu-content__item -->
	</ul>
	<!-- /.menu-content__list -->
</div>
<!-- /.menu-content -->
{% else %}
<div class="menu-content menu-content_mod">
	<div class="menu-content__slide" data-toggle-class></div>
	<!-- /.menu-content -->
	<ul class="menu-content__list">
		{% for item in ['О холдинге', 'Способы оплаты', 'История компании', 'Производство', 'Новости', 'Наши знаменитые клиенты', 'Оптовые продажи', 'Сотрудничество с интернет-магазинами', 'НАПМ', 'Публичная оферта', 'Политика конфиденциальности'] %}
		<li class="menu-content__item {%if loop.index == 1%}active{% endif %}">
			<a href="#" class="menu-content__link">{{ item }}</a>
		</li>
		<!-- /.menu-content__item -->
		{% endfor %}
	</ul>
	<!-- /.menu-content__list -->
</div>
<!-- /.menu-content -->
{% endif %}
