.reviews {
	position: relative;
	margin: 0 -165px 60px;

	&:after {
		position: absolute;
		left: 0;
		width: 33%;
		height: 100%;
		background: linear-gradient(to right, rgba(255, 255, 255, 1), rgba(255, 255, 255, 0));
		content: '';
		top: 0;
		z-index: 1;
		pointer-events: none;
	}
	@media (--phone) {
		margin: 0 0 48px;

		&:after {
			display: none;
		}
	}
}