<div class="swiper reviews">
	<div class="swiper-container" data-swiper data-options='{"slidesPerView": "3", "spaceBetween": 70 , "breakpoints": { "768": { "slidesPerView": "1", "spaceBetween": 30}}}'>
		<div class="swiper-wrapper">
			{% for item in '122345' %}
			<div class="swiper-slide">

				{% include "detail-page/reviews/reviews-item/reviews-item.njk" %}

			</div>
			{% endfor %}
		</div>
	</div>
	<div class="swiper__arrow swiper__arrow_reviews">
		<div class="swiper__prev js-swiper__prev"></div>
		<div class="swiper__next js-swiper__next"></div>
	</div>
	{% include "detail-page/reviews/reviews-form/reviews-form.njk" %}
</div>
<!-- /.swiper -->
