<div class="header-phone">
	<div class="header-phone__col">
		<div class="header-phone__smtitle">
			Бесплатные звонки <span>по России</span>
		</div>
		<!-- /.header-phone__smtitle -->
	</div>
	<!-- /.header-phone__col -->
	<div class="header-phone__col">
		<a href="tel:+78003333300" class="header-phone__tel">8 800 333 33 00</a>
	</div>
	<!-- /.header-phone__col -->
	<div class="header-phone__col">
		<div class="header-phone__text">
			<span>Будни	9:00 - 20:00</span>
			<span>Выходные	11:00 - 19:00</span>
		</div>
		<!-- /.header-phone__text -->
	</div>
	<!-- /.header-phone__col -->
</div>
<!-- /.header-phone -->
