.header-phone {
	position: absolute;
	left: 225px;
	top: 18px;
	display: flex;
	align-items: center;

	&__col {}

	&__smtitle {
		font-weight: 300;
		font-size: 10px;
		line-height: 14px;
		margin-right: 8px;

		span {
			display: block;
		}
	}

	&__tel {
		font-weight: bold;
		font-size: 24px;
		line-height: 20px;
		color: #000000;
		opacity: 0.84;
		text-decoration: none;
		margin-right: 12px;
	}

	&__text {
		font-weight: bold;
		font-size: 10px;
		line-height: 14px;
		color: #000000;

		span {
			display: block;
		}
	}
	@media (--phone) {
		right: 65px;
		top: 21px;
		left: auto;

		&__smtitle,
		&__text {
			display: none;
		}

		&__tel {
			text-indent: -9999px;
			overflow: hidden;
			width: 40px;
			height: 40px;
			background: url("../images/header-phone.svg") no-repeat center;
			display: block;
			margin: 0;
		}
	}
}