.detail-button {
	display: flex;
	justify-content: space-between;
	margin-bottom: 13px;
	width: 316px;

	&__buy {
		width: 98px;
		height: 36px;
		font-family: VremenaGrotesk;
		font-style: normal;
		font-weight: 500;
		font-size: 16px;
		text-align: center;
		letter-spacing: 0.1px;
		color: #FFFFFF;
		display: flex;
		align-items: center;
		justify-content: center;
		line-height: 20px;
		background: #8A1541;
		border-radius: 4px;
	}

	&__oneclick {
		width: 200px;
		height: 36px;
		font-family: VremenaGrotesk;
		font-style: normal;
		font-weight: 500;
		font-size: 16px;
		text-align: center;
		letter-spacing: 0.1px;
		color: #FFFFFF;
		display: flex;
		align-items: center;
		justify-content: center;
		line-height: 1;
		background: #D58D85;
		border-radius: 4px;
	}
	@media (--phone) {
		width: 100%;
		display: block;
		margin-bottom: 34px;

		&__buy {
			height: 48px;
			width: 100%;
			margin-bottom: 16px;
			font-size: 24px;
			letter-spacing: 2px;
			line-height: 1;
		}

		&__oneclick {
			width: 100%;
			height: 48px;
			font-size: 20px;
			letter-spacing: 0.1px;
		}
	}
}