.form {
	&__field {
		margin-bottom: 20px;
		position: relative;
	}

	&__promocode {
		right: 1px;
		top: 1px;
		height: 46px;
		width: 46px;
		background: #fff url("https://icongr.am/feather/refresh-cw.svg?size=12&color=8A1543") no-repeat center;
		transform: rotate(90deg);
		position: absolute;
		cursor: pointer;
	}

	&__input {
		border: 1px solid #C4C4C4;
		border-radius: 4px;
		font-size: 16px;
		line-height: 24px;
		letter-spacing: 0.1px;
		padding: 0 16px;
		height: 48px;
		width: 100%;
		font-family: Roboto;

		&_msg {
			height: 174px;
			padding: 10px 16px;
		}
	}

	&__submit {
		@include button()
	}
}