{% macro input(type = 'text', placeholder = 'Фамилия', text = 'Обязательное поле', promocode = false) %}
	<div class="form__field">
		<input type="{{ type }}" placeholder="{{ placeholder }}" value="" class="form__input">
		{% if promocode %}
			<div class="form__promocode"></div>
			<!-- /.form__promocode -->
		{% endif %}
	</div>
	<!-- /.form__field -->
{% endmacro %}

{% macro textarea(placeholder = 'Описание проекта', text = 'Обязательное поле') %}
	<div class="form__field">
		<textarea name="" cols="" rows="" placeholder="{{ placeholder}}" class="form__input form__input_msg"></textarea>
	</div>
	<!-- /.form__field -->
{% endmacro %}

{% macro checkbox(mod = '', type = 'checkbox', attrs = '', text = 'Согласен на обработку своих персональных данных') %}
	<label class="checkbox {{ mod }}">
		<input type="{{ type }}" class="checkbox__input" {{ attrs }}>
		<span class="checkbox__icon"></span>
		<!-- /.checkbox__icon -->
		<span class="checkbox__text">{{ text | safe }}</span>
		<!-- /.checkbox__text -->
	</label>
	<!-- /.checkbox -->
{% endmacro %}

{% macro oferta(text = 'Нажимая «отправить» вы соглашаетесь с <a href="#" target="_blank">условиями</a> обработки персональных данных') %}
	<div class="form__oferta">
		{{ text | safe }}
	</div>
{% endmacro %}

{% macro submit(value = 'ОТПРАВИТЬ', modifier = '') %}
	<input type="submit" name="" value="{{ value }}" class="form__submit {{ modifier }}">
{% endmacro %}
