<div class="basket basket_confirm">
	<div class="basket__row">
		<div class="basket__left">

			{% include "basket/basket-table/basket-table-confirm.njk" %}

			{% include "basket/confirm-data/confirm-data.njk" %}

		</div>
		<!-- /.basket__left -->
		<div class="basket__right">

			<input type="submit" value="Оформить заказ" class="basket__submit" />

		</div>
		<!-- /.basket__right -->
	</div>
	<!-- /.basket__row -->
</div>
<!-- /.basket -->
