.confirm {
	padding-top: 37px;

	&__toptext {
		color: rgb(0, 0, 0);
		font-size: 16px;
		font-weight: 400;
		line-height: 30px;
		margin-bottom: 16px;
	}

	&__title {
		color: rgb(0, 0, 0);
		margin-bottom: 16px;
		font-size: 18px;
		font-weight: 500;
		line-height: 24px;
	}

	&__table {
		width: 100%;
		margin-bottom: 24px;
		position: relative;

		&:before {
			position: absolute;
			left: 0;
			top: 29px;
			width: 100%;
			bottom: 0;
			background: #fff;
			border-radius: 5px;
			content: '';
		}

		tr {
			th {
				color: rgb(88, 88, 90);
				font-size: 12px;
				font-weight: 400;
				padding-bottom: 16px;
				line-height: 1;
				text-align: left;
			}

			td {
				color: rgb(0, 0, 0);
				font-size: 14px;
				font-weight: 400;
				line-height: 1;
				padding: 16px 0;
				position: relative;

				&:after {
					border-bottom: 1px solid #f3f3f3;
					content: '';
					position: absolute;
					left: 0;
					bottom: 0;
					width: 100%;
				}

				&:nth-child(1) {
					width: 85px;
				}
			}

			&:last-child td {
				&:after {
					display: none;
				}
			}
		}
	}

	&__pic {
		display: block;
		margin: 0 auto;
	}

	&__name {
		color: rgb(0, 0, 0);
		font-size: 14px;
		font-weight: 400;
		line-height: 24px;
	}

	&__footer {}

	&__row {
		display: flex;
		margin-bottom: 16px;

		&:last-child {
			margin-bottom: 0;
		}
	}

	&__col {
		color: rgb(0, 0, 0);
		font-size: 16px;
		font-weight: 400;

		b {
			font-weight: 500;
		}

		&:first-child {
			width: 250px;
		}
	}
	@media (--phone) {
		&__toptext {
			font-size: 14px;
			line-height: 1.71;
		}

		&__title {
			font-size: 14px;
			font-weight: 500;
			line-height: 1.29;
			margin-bottom: 8px;
		}

		&__table {
			background: #fff;
			margin: 0 -16px 16px;
			width: calc(100% + 32px);

			&:before {
				display: none;
			}

			tr:nth-child(1) {
				display: none;
			}

			tr {
				display: flex;
				flex-wrap: wrap;
				align-items: stretch;

				td {
					padding: 16px 16px 0;
					border: none;

					&:after {
						display: none;
					}
				}
			}

			td:nth-child(1) {
				width: 80px !important;
				flex-shrink: 0;
			}

			td:nth-child(2) {
				width: calc(100% - 80px);
				flex-shrink: 0;
				padding-left: 0;
			}

			td:nth-child(3),
			td:nth-child(4),
			td:nth-child(5) {
				border-bottom: 1px solid #f3f3f3;
				padding-top: 16px;
				padding-bottom: 16px;

				&:before {
					white-space: nowrap;
					content: attr(data-text);
					display: block;
					font-size: 9px;
					color: #58585a;
					margin-bottom: 8px;
				}
			}

			td:nth-child(3) {
				width: 35%;
			}

			td:nth-child(4) {
				width: 20%;
			}

			td:nth-child(5) {
				width: 45%;
			}
		}

		&__name {
			display: block;
			font-size: 12px;
			font-weight: 500;
			line-height: 18px;
		}

		&__row {
			flex-direction: column;
			margin-bottom: 8px;
		}

		&__col {
			width: 100%;
			font-size: 10px;
			line-height: 2;

			b {
				font-size: 14px;
				font-weight: 500;
				line-height: 1.29;
			}
		}
	}
}