.favorite-small {
	position: relative;
	background: url("../images/favorite-small.svg") no-repeat left center;
	padding: 0 0 0 18px;
	margin-left: 24px;

	&__text {
		font-size: 14px;
		line-height: 20px;
		color: #8A1541;
	}

	&__link {
		position: absolute;
		left: 0;
		top: 0;
		width: 100%;
		height: 100%;
	}
}