.confirm-data {
	background: #FFFFFF;
	box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
	margin-bottom: 40px;
	padding: 28px 28px 35px;

	&__title {
		font-family: VremenaGrotesk;
		font-style: normal;
		font-weight: bold;
		font-size: 24px;
		line-height: 32px;
		letter-spacing: -0.1px;
		color: #8A1541;
		margin-bottom: 25px;
	}

	&__field {
		font-size: 15px;
		line-height: 20px;
		letter-spacing: 0.1px;
		margin-bottom: 35px;
	}
	@media (--phone) {
		padding: 0 0 24px;
		box-shadow: none;
		margin: 0;

		&__field {
			font-size: 16px;
			line-height: 24px;
			margin-bottom: 24px;
		}
	}
}