<div class="confirm-data">
	<div class="confirm-data__title">Ваши данные</div>
	<!-- /.confirm-data__title -->
	<div class="confirm-data__section">
		<div class="confirm-data__field">
			<div>Константинопольский Константин Константинович</div>
			<div>const.conts.const@yandex.ru</div>
			<div>+7 999 123 45 67</div>
		</div>
		<!-- /.confirm-data__field -->
		<div class="confirm-data__field">
			<div>Москва, ул. Академика Королева 12, кв. 123</div>
		</div>
		<!-- /.confirm-data__field -->
		<div class="confirm-data__field">
			<div>Доставка курьером.</div>
			<div>Время доставки: с 18:00 до 22:00</div>
		</div>
		<!-- /.confirm-data__field -->
	</div>
</div>
<!-- /.confirm-data -->
