{% import "form/form.njk" as form %}
<div class="basket-payment">
	<div class="basket-payment__title basket__title">Способ оплаты</div>
	<div class="basket-payment__section">
		<label class="basket-payment__label">
			<input type="radio" name="" class="basket-payment__input" checked />
			<span class="basket-payment__text">Наличными</span>
		</label>
		<label class="basket-payment__label">
			<input type="radio" name="" class="basket-payment__input" />
			<span class="basket-payment__text">В кредит</span>
		</label>
		<label class="basket-payment__label">
			<input type="radio" name="" class="basket-payment__input" />
			<span class="basket-payment__text">В рассрочку</span>
		</label>
	</div>
</div>
<!-- /.basket-payment -->
