.breadcrumbs {
	&__list {
		display: flex;
		align-items: center;
		margin: 0;
		padding: 0;
	}

	&__item {
		display: flex;
		align-items: center;
		margin-right: 10px;

		&:after {
			position: relative;
			top: 1px;
			width: 16px;
			height: 16px;
			content: '';
			display: block;
			background: url("https://icongr.am/entypo/chevron-small-right.svg?size=16&color=000000") no-repeat center;
			opacity: 0.4;
		}

		&_text:last-child {
			&:after {
				display: none;
			}
		}
	}

	&__link {
		font-weight: 300;
		font-size: 14px;
		line-height: 20px;
		color: #000000;
		margin-right: 10px;
	}

	&__item_bold &__link {
		font-weight: bold;
	}

	&__text {
		font-weight: bold;
		font-size: 14px;
		line-height: 20px;
		color: #000000;
		margin-right: 10px;
	}

	&__item_thin &__text {
		font-weight: 300;
	}
	@media (--phone) {
		margin-bottom: 15px;

		&__list {
			flex-wrap: wrap;
		}

		&__item {
			margin-bottom: 10px;
		}
	}
}