{% macro breadcrumbs(
	modifierItem = '',
	modifierText = '',
	text = '',
	data = ['Каталог', 'Матрасы']
) %}

	<div class="breadcrumbs">
		<ul class="breadcrumbs__list">
			{% for item in data %}
				<li class="breadcrumbs__item {{ modifierItem }}">
					<a href="#" class="breadcrumbs__link">
						{{ item }}
					</a>
				</li>
				<!-- /.breadcrumbs__item -->
			{% endfor %}
			{% if text %}
				<li class="breadcrumbs__item breadcrumbs__item_text {{ modifierText }}">
					<span class="breadcrumbs__text">
						{{ text }}
					</span>
				</li>
				<!-- /.breadcrumbs__item -->
			{% endif %}
		</ul>
		<!-- /.breadcrumbs__list -->
	</div>
	<!-- /.breadcrumbs -->
{% endmacro %}
