.label-icon {
	line-height: 1;

	&__item {
		font-family: VremenaGrotesk;
		font-style: normal;
		font-weight: bold;
		font-size: 12px;
		line-height: 24px;
		text-align: center;
		letter-spacing: 0.1px;
		color: #FFFFFF;
		height: 20px;
		padding: 0 8px;
		background: #E42323;
		border-radius: 2px;
		display: flex;
		align-items: center;
		justify-content: center;
	}
}