.checkbox {
	position: relative;
	font-size: 16px;
	line-height: 24px;
	letter-spacing: 0.1px;
	margin: 0;
	padding: 0 0 0 36px;

	&_filter {
		color: #fff;
	}

	&__input {
		opacity: 0;
		position: absolute;
		left: 0;
		top: 0;
	}

	&__icon {
		position: absolute;
		left: 0;
		top: -1px;
		width: 24px;
		height: 24px;
		border-radius: 2px;
		border: 1px solid #8A1541;
		background-color: rgb(255, 255, 255);
		transition: border 200ms, background 200ms;

		&:before {
			position: absolute;
			width: 100%;
			height: 100%;
			top: 0;
			left: 0;
			transform: scale(0);
			transition: transform 200ms;
			background: url("https://icongr.am/feather/check.svg?size=20&color=ffffff") no-repeat center center;
			content: '';
		}
	}

	&_radio &__icon {
		border-radius: 50%;

		&:before {
			width: 8px;
			height: 8px;
			background-color: #dd0016;
			left: 50%;
			top: 50%;
			border-radius: 50%;
			transform: translate(-50%, -50%) scale(0);
		}
	}

	&__input:checked~&__icon {
		background: #8A1541;

		&:before {
			transform: scale(1);
		}
	}

	&_radio &__input:checked~&__icon {
		&:before {
			transform: translate(-50%, -50%) scale(1);
		}
	}

	&__input:disabled~&__icon,
	&__input:disabled~&__text {
		opacity: 0.2;
	}

	&__text {
		a {
			color: rgb(221, 0, 22);
			@include link();
		}
	}
}