.sorting-view {
	display: flex;
	align-items: center;

	&__text {
		font-weight: 500;
		font-size: 14px;
		line-height: 24px;
		letter-spacing: 0.1px;
		margin-right: 10px;
	}

	&__link {
		font-weight: 500;
		font-size: 14px;
		line-height: 24px;
		letter-spacing: 0.1px;
		color: #D58D85;
		text-decoration: none;
	}
}