.basket-product {
	&__title {
		margin-bottom: 24px;
		font-family: VremenaGrotesk;
		font-style: normal;
		font-weight: bold;
		font-size: 24px;
		line-height: 32px;
		letter-spacing: -0.1px;
		color: #8A1541;
	}

	&__item {}

	&__photo {
		margin-bottom: 10px;
		height: 90px;
		display: flex;
		align-items: center;
		justify-content: center;
	}

	&__link {}

	&__pic {
		display: block;
		max-width: 100%;
		max-height: 100%;
	}

	&__name {
		font-weight: 500;
		font-size: 14px;
		line-height: 24px;
		letter-spacing: 0.1px;
		margin-bottom: 8px;
	}

	&__namelink {
		color: #000;
	}

	&__price {
		font-weight: bold;
		font-size: 16px;
		line-height: 24px;
		letter-spacing: 0.1px;
		margin-bottom: 18px;
	}

	&__buy {
		font-weight: 500;
		color: #8A1541;
	}
	@media (--phone) {
		&__title {}

		&__item {
			margin-bottom: 24px;
		}

		&__photo {
			height: auto;
		}

		&__footer {
			display: flex;
			justify-content: space-between;
			align-items: baseline;
		}

		&__price {
			font-size: 24px;
			line-height: 24px;
		}
	}
}