<div class="basket-product">
	<div class="basket-product__title">
		Вам может пригодиться
	</div>
	<!-- /.basket-product__title -->
	<div class="row">
		<div class="col-sm-3">

			<div class="basket-product__item">
				<div class="basket-product__photo">
					<a href="#" class="basket-product__link">
						<img data-src="images/basket-product__pic1.jpg" alt="" class="basket-product__pic lazyload" />
					</a>
				</div>
				<!-- /.basket-product__photo -->
				<div class="basket-product__name" data-mh="group">
					<a href="#" class="basket-product__namelink">
						Наматрасник-перина
						Consul Lux (80×200 см)
					</a>
				</div>
				<!-- /.-name -->
				<div class="basket-product__footer">
					<div class="basket-product__price">3 200 ₽</div>
					<!-- /.-price -->
					<a href="#" class="basket-product__buy">Добавить к заказу</a>
				</div>
				<!-- /.basket-product__footer -->
			</div>
			<!-- /.basket-product__item -->

		</div>
		<!-- /.col-sm-3 -->
		<div class="col-sm-3">

			<div class="basket-product__item">
				<div class="basket-product__photo">
					<a href="#" class="basket-product__link">
						<img data-src="images/basket-product__pic2.jpg" alt="" class="basket-product__pic lazyload" />
					</a>
				</div>
				<!-- /.basket-product__photo -->
				<div class="basket-product__name" data-mh="group">
					<a href="#" class="basket-product__namelink">
						Тонкий матрас: Ортопедическая пена 3 см (80×200 см)
					</a>
				</div>
				<!-- /.-name -->
				<div class="basket-product__footer">
					<div class="basket-product__price">5 500 ₽</div>
					<!-- /.-price -->
					<a href="#" class="basket-product__buy">Добавить к заказу</a>
				</div>
				<!-- /.basket-product__footer -->
			</div>
			<!-- /.basket-product__item -->

		</div>
		<!-- /.col-sm-3 -->
		<div class="col-sm-3">

			<div class="basket-product__item">
				<div class="basket-product__photo">
					<a href="#" class="basket-product__link">
						<img data-src="images/basket-product__pic3.jpg" alt="" class="basket-product__pic lazyload" />
					</a>
				</div>
				<!-- /.basket-product__photo -->
				<div class="basket-product__name" data-mh="group">
					<a href="#" class="basket-product__namelink">
						Подушка D 28 ERGONOMICA
					</a>
				</div>
				<!-- /.-name -->
				<div class="basket-product__footer">
					<div class="basket-product__price">3 525 ₽</div>
					<!-- /.-price -->
					<a href="#" class="basket-product__buy">Добавить к заказу</a>
				</div>
				<!-- /.basket-product__footer -->
			</div>
			<!-- /.basket-product__item -->

		</div>
		<!-- /.col-sm-3 -->
		<div class="col-sm-3">

			<div class="basket-product__item">
				<div class="basket-product__photo">
					<a href="#" class="basket-product__link">
						<img data-src="images/basket-product__pic4.jpg" alt="" class="basket-product__pic lazyload" />
					</a>
				</div>
				<!-- /.basket-product__photo -->
				<div class="basket-product__name" data-mh="group">
					<a href="#" class="basket-product__namelink">
						Постельное белье Геометрия (Евро)
					</a>
				</div>
				<!-- /.-name -->
				<div class="basket-product__footer">
					<div class="basket-product__price">9 800 ₽</div>
					<!-- /.-price -->
					<a href="#" class="basket-product__buy">Добавить к заказу</a>
				</div>
				<!-- /.basket-product__footer -->
			</div>
			<!-- /.basket-product__item -->

		</div>
		<!-- /.col-sm-3 -->
	</div>
	<!-- /.row -->
</div>
<!-- /.basket-product -->
