<div class="menu-main">
	<div class="menu-main__row">
		<div class="menu-main__col">
			<div class="menu-main__item">
				<a href="#" class="menu-main__link">
					<img data-src="images/menu-main__pic1.jpg" alt="" class="menu-main__pic lazyload" />
					<span class="menu-main__desc">Матрасы</span>
				</a>
			</div>
			<!-- /.menu-main__item -->
			<div class="menu-main__item">
				<a href="#" class="menu-main__link">
					<img data-src="images/menu-main__pic2.jpg" alt="" class="menu-main__pic lazyload" />
					<span class="menu-main__desc">Аксессуары</span>
				</a>
			</div>
			<!-- /.menu-main__item -->
		</div>
		<!-- /.menu-main__col -->
		<div class="menu-main__col">
			<div class="menu-main__item">
				<a href="#" class="menu-main__link">
					<img data-src="images/menu-main__pic3.jpg" alt="" class="menu-main__pic lazyload" />
					<span class="menu-main__desc">Кровати</span>
				</a>
			</div>
			<!-- /.menu-main__item -->
			<div class="menu-main__item">
				<a href="#" class="menu-main__link">
					<img data-src="images/menu-main__pic4.jpg" alt="" class="menu-main__pic lazyload" />
					<span class="menu-main__desc">Основания</span>
				</a>
			</div>
			<!-- /.menu-main__item -->
		</div>
		<!-- /.menu-main__col -->
	</div>
	<!-- /.menu-main__row -->
</div>
<!-- /.menu-main -->
