.menu-main {
	margin-bottom: 60px;

	&__row {
		display: flex;
		margin: 0 -15px;
	}

	&__col {
		width: 50%;
		padding: 0 15px;
		flex-shrink: 0;
	}

	&__item {
		position: relative;
		margin-bottom: 30px;

		&:last-child {
			margin-bottom: 0;
		}
	}

	&__link {
		display: block;
		color: #fff;
	}

	&__pic {
		display: block;
	}

	&__desc {
		font-family: VremenaGrotesk;
		font-style: normal;
		font-weight: bold;
		font-size: 36px;
		line-height: 60px;
		letter-spacing: -1px;
		position: absolute;
		left: 40px;
		bottom: 10px;
	}
	@media (--phone) {
		display: none;
	}
}