<div class="why-consul">
	<div class="why-consul__inner">
		<div class="why-consul__col">
			<div class="why-consul__title">
				Почему стоит заказать матрасы «Консул» в официальном интернет-магазине?
			</div>
			<!-- /.why-consul__title -->
		</div>
		<!-- /.why-consul__col -->
		<div class="why-consul__col">
			<div class="why-consul__text">
				Желающим купить матрасы интернет-магазин «Consul Holding» предлагает несколько популярных коллекций по доступной стоимости. В поисках качественных и долговечных изделий остановите свой выбор на матрасах «Консул» производства Россия:<br>
				— каждая модель из каталога прошла контроль<br>
				еще на стадии производства <br>
				— степень комфортности готовых изделий проверяется<br>
				на специальном оборудовании — семографе; <br>
				— производитель предоставляет на матрацы гарантию минимум<br>
				на 5 лет, а реальный срок их службы достигает 30 лет и более. 
	 		</div>
			<!-- /.why-consul__text -->
		</div>
		<!-- /.why-consul__col -->
	</div>
	<!-- /.why-consul__inner -->
</div>
<!-- /.why-consul -->