.why-consul {
	background-color: rgb(138, 21, 65);
	padding: 65px 0;
	margin: 0 -200% 64px;

	&__inner {
		width: 1110px;
		margin: 0 auto;
		display: flex;
		align-items: center;
	}

	&__col {
		width: 50%;
	}

	&__title {
		font-family: VremenaGrotesk;
		font-size: 40px;
		line-height: 1.2;
		letter-spacing: -0.5px;
		color: rgb(255, 255, 255);
	}

	&__text {
		font-size: 16px;
		line-height: 2;
		letter-spacing: 0.1px;
		color: rgb(245, 215, 165);
	}
	@media (--phone) {
		padding: 48px 20px;
		margin: 0 -20px 30px;

		&__inner {
			width: 100%;
			flex-direction: column;
		}

		&__col {
			width: 100%;
		}

		&__title {
			font-size: 36px;
			line-height: 40px;
			letter-spacing: -0.5px;
			margin-bottom: 16px;
		}

		&__text {
			line-height: 28px;
		}
	}
}