.about {
	width: 605px;
	margin-bottom: 100px;

	&__title {
		color: #8a1541;
		font-family: VremenaGrotesk;
		font-size: 32px;
		font-weight: 400;
		letter-spacing: 0.1px;
		line-height: 24px;
		margin-bottom: 60px;
	}

	&__smtitle {
		color: #000000;
		font-family: VremenaGrotesk;
		font-size: 24px;
		font-weight: 500;
		line-height: 32px;
		margin-bottom: 30px;
	}

	hr {
		height: 1px;
		background-color: #000000;
		border: none;
		outline: none;
		opacity: 0.2;
		margin: 0 30px 40px;
	}

	&__quote {
		position: relative;

		&-inner {
			width: 190px;
			color: #8a1541;
			font-family: VremenaGrotesk;
			font-size: 18px;
			font-weight: 500;
			line-height: 28px;
			position: absolute;
			right: -204px;
			top: -26px;

			b {
				font-family: Roboto;
				font-size: 66px;
				font-weight: 700;
				letter-spacing: -1.69px;
				line-height: 66px;
			}

			small {
				color: #000000;
				font-family: Roboto;
				font-size: 12px;
				font-weight: 400;
				line-height: 20px;
			}
		}

		&_sm b {
			font-size: 40px;
			line-height: 40px;
		}
	}

	ul {
		li {
			margin-bottom: 8px;
		}
	}
	@media (--phone) {
		width: auto;
		margin-bottom: 48px;

		&__title {
			margin-bottom: 20px;
		}

		&__smtitle {
			margin-bottom: 24px;
		}

		hr {
			display: none;
		}

		&__quote {
			position: relative;
			margin-bottom: 25px;

			&-inner {
				position: static;
				width: auto;

				b {
					font-family: Roboto;
					font-size: 66px;
					font-weight: 700;
					letter-spacing: -1.69px;
					line-height: 66px;
				}

				small {
					font-size: 16px;
					line-height: 20px;
					color: #A1A1A1;
				}
			}

			&_sm b {
				font-size: 40px;
				line-height: 40px;
			}
		}

		ul {
			padding: 0 0 0 15px;

			li {}
		}
	}
}