<div class="about">
	<div class="about__title">О холдинге</div>
	<!-- /.about__title -->
	<div class="about__smtitle">
		Холдинг «Consul» — старейший Российский производитель качественной продукции для сна и отдыха.
	</div>
	<!-- /.about__smtitle -->
	<div class="about__quote about__quote_sm">
		<div class="about__quote-inner">
			более<br>
			<b>1 000 000</b><br>
			<small>
				клиентов ежегодно доверяют свой сон и отдых продукции холдинга Consul
			</small>
		</div>
	</div>
	<!-- /.about__quote -->
	<p>
		Холдинг предлагает своим клиентам широкий ассортимент удобных
		и современных анатомических и ортопедических матрасов, ортопедических оснований, кроватей и текстильных изделий. Вся продукция отличается долговечностью и утонченным дизайном, что неоднократно было оценено
		на многочисленных мебельных выставках по всему миру.
	</p>
	<p>
		Современные разработки холдинга, высококлассные специалисты
		и наукоёмкий производственный комплекс, в тесной связке с сервисной службой позволяют холдингу «Consul» удерживать лидирующие позиции
		на российском рынке товаров для сна и отдыха.
	</p>
	<hr />
	<p>
		В настоящее время «Consul» продолжает активно развиваться. Родом деятельности компаний, объединенных в холдинг сегодня, является
		не только комплексное производство матрасов, но и финансовые, производственные, автотранспортные и строительные направления.
	</p>
	<hr />
	<div class="about__quote">
		<div class="about__quote-inner">
			более<br>
			<b>2 000</b><br>
			<small>
				высококлассных специалистов ежедневно думают о том, чтобы каждый новый матрас стал матрасом вашей мечты
			</small>
		</div>
	</div>
	<!-- /.about__quote -->
	<p>
		Фирменные салоны холдинга «Consul» распложены во многих крупных городах России. Ежегодно Холдинг вносит новшества в технологию производства своего товара, и сегодня считается компанией-лидером на рынке производства изделий для сна и отдыха. Число товаров, выпускаемых холдингом в год, достигает 900 тысяч.
	</p>
	<p>
		Высокое качество продукции, изготовляемой холдингом, подтверждено
		не только сертификатами Госстандарта РФ, но и сертификатами международными, что свидетельствует о соответствии материалов, используемых в производстве, европейским стандартам, а также экологической безопасности Oeko-Tex Standart 100. За качественное проведение работ и производство товаров высочайшего класса, холдинг «Consul» многократно был представлен к наградам.
	</p>
	<div class="about__quote">
		<div class="about__quote-inner">
			более<br>
			<b>100</b><br>
			<small>
				фирменных салонов по России
			</small>
		</div>
	</div>
	<!-- /.about__quote -->
	<p>
		На нашем сайте к вашим услугам:
	</p>
	<ul>
		<li>реальные и конкурентоспособные цены;</li>
		<li>широчайший ассортимент товаров;</li>
		<li>качественные описания и изображения товаров;</li>
		<li>продажа только сертифицированных и имеющих легальное происхождение товаров;</li>
		<li>гарантийное обслуживание купленных у нас товаров;</li>
		<li>покупка товара, не выходя из дома или офиса;</li>
		<li>быстрое согласование товара с клиентом для подтверждения заказа;</li>
		<li>обмен товаров ненадлежащего качества и многое другое.</li>
	</ul>
</div>
<!-- /.about -->
