<!DOCTYPE html>
<html lang="en">

	{% include "head/head.njk" %}

<body>

	<div class="wrapper">

		{% include "header/global/header.njk" %}

		{% set text = 'Матрасы' %}
		{% set data = ['Каталог'] %}
		{% set modifierItem = '' %}
		{% set modifierText = '' %}
		{% set sectionTopModifier = 'section-top_hide' %}
		{% include "section-top/section-top/section-top.njk" %}

		<div class="middle">
			<div class="middle__container">
				<div class="content">

					{% include "catalog/catalog-banner/catalog-banner.njk" %}

					<div class="row align-items-center catalog-utilities">
						<div class="col-9 col-sm-3">
							{% include "catalog/sorting/sorting.njk" %}
						</div>
						<!-- /.col-sm-3 -->
						<div class="col-sm-3 catalog-utilities__mbhide">
							{% include "catalog/sorting-view/sorting-view.njk" %}
						</div>
						<!-- /.col-sm-3 -->
						<div class="col-sm-3 catalog-utilities__mbhide">
							{% import "pagination/pagination.njk" as pagination %}
							{{ pagination.desktop() }}
						</div>
						<!-- /.col-sm-3 -->
						<div class="col-3 col-sm-3">
							{% include "filter/filter-button/filter-button.njk" %}
						</div>
						<!-- /.col-sm-3 -->
					</div>
					<!-- /.row -->

					{% include "catalog/catalog/catalog.njk" %}

					{{ pagination.mobile() }}

				</div>
				<!-- /.content -->
			</div>
			<!-- /.middle__container -->
		</div>
		<!-- /.middle -->

		{% include "footer/global/footer.njk" %}

	</div>
	<!-- /.wrapper -->

	{% include "connect/script.njk" %}
	{% include "connect/stylesheet.njk" %}

</body>
</html>
