<!DOCTYPE html>
<html lang="en">

	{% include "head/head.njk" %}

<body>

	<div class="wrapper">

		{% include "header/global/header.njk" %}

		{% set text = '' %}
		{% set data = ['Подтверждение заказа'] %}
		{% set modifierItem = 'breadcrumbs__item_bold' %}
		{% set modifierText = '' %}
		{% include "section-top/section-top/section-top.njk" %}

		<div class="middle">
			<div class="middle__container">
				<div class="content">

					{% include "basket/confirm/confirm.njk" %}

				</div>
				<!-- /.content -->
			</div>
			<!-- /.middle__container -->
		</div>
		<!-- /.middle -->

		{% include "footer/global/footer.njk" %}

	</div>
	<!-- /.wrapper -->

	{% include "connect/script.njk" %}
	{% include "connect/stylesheet.njk" %}

</body>
</html>
