<!DOCTYPE html>
<html lang="en">

	{% include "head/head.njk" %}

<body>

	<div class="wrapper">

		{% include "header/global/header.njk" %}

		{% set text = '' %}
		{% set data = ['Доставка и оплата'] %}
		{% set modifierItem = 'breadcrumbs__item_bold' %}
		{% set modifierText = '' %}
		{% include "section-top/section-top/section-top.njk" %}

		<div class="middle">
			<div class="middle__container">
				<div class="content">

					<div class="row delivery-wrap">
						<div class="col-sm-3">

							{% set trigger = 'delivery' %}
							{% include "menu/menu-content/menu-content.njk" %}

						</div>
						<!-- /.col-sm-3 -->
						<div class="col-sm-9">

							{% include "delivery/delivery/delivery.njk" %}

						</div>
						<!-- /.col-sm-8 -->
					</div>
					<!-- /.row -->

				</div>
				<!-- /.content -->
			</div>
			<!-- /.middle__container -->
		</div>
		<!-- /.middle -->

		{% include "footer/global/footer.njk" %}

	</div>
	<!-- /.wrapper -->

	{% include "connect/script.njk" %}
	{% include "connect/stylesheet.njk" %}

</body>
</html>
