<!DOCTYPE html>
<html lang="en">

	{% include "head/head.njk" %}

<body>

	<div class="wrapper">

		{% include "header/global/header.njk" %}

		<ul>
			<li><a target="_blank" href="index.html">index.html</a></li>
			<li><br></li>
			<li><a target="_blank" href="about.html">about.html</a></li>
			<li><a target="_blank" href="delivery.html">delivery.html</a></li>
			<li><a target="_blank" href="news.html">news.html</a></li>
			<li><a target="_blank" href="news-detail.html">news-detail.html</a></li>
			<li><a target="_blank" href="contacts.html">contacts.html</a></li>
			<li><a target="_blank" href="history.html">history.html</a></li>
			<li><a target="_blank" href="basket.html">basket.html</a></li>
			<li><a target="_blank" href="confirm.html">confirm.html</a></li>
			<li><a target="_blank" href="main.html">main.html</a></li>
			<li><a target="_blank" href="catalog.html">catalog.html</a></li>
			<li><a target="_blank" href="detail.html">detail.html</a></li>
		</ul>

		{% include "footer/global/footer.njk" %}

	</div>
	<!-- /.wrapper -->

	{% include "connect/script.njk" %}

</body>
</html>
