<!DOCTYPE html>
<html lang="en">

	{% include "head/head.njk" %}

<body>

	<div class="wrapper">

		{% include "header/global/header.njk" %}

		{% set text = '' %}
		{% set data = ['Каталог'] %}
		{% set modifierItem = '' %}
		{% set modifierText = '' %}
		{% set sectionTopModifier = 'section-top_hide' %}
		{% include "section-top/section-top/section-top.njk" %}

		{% include "main/main-banner/main-banner.njk" %}

		<div class="middle">
			<div class="middle__container">
				<div class="content">

					<div class="title title_main title_pink">Хиты продаж</div>
					<!-- /.title title_main -->

					{% include "main/main-catalog/main-catalog.njk" %}

					<div class="title title_main">Распродажа</div>
					<!-- /.title title_main -->

					{% set sale = true %}
					{% include "main/main-catalog/main-catalog.njk" %}

					{% include "news/news-item/news-item.njk" %}

					{% include "menu/menu-main/menu-main.njk" %}

					{% include "benefits/benefits-content/benefits-content.njk" %}

					{% include "seo/why-consul/why-consul.njk" %}

					{% include "seo/seo/seo.njk" %}

				</div>
				<!-- /.content -->
			</div>
			<!-- /.middle__container -->
		</div>
		<!-- /.middle -->

		{% include "footer/global/footer.njk" %}

	</div>
	<!-- /.wrapper -->

	{% include "connect/script.njk" %}
	{% include "connect/stylesheet.njk" %}

</body>
</html>
