<!DOCTYPE html>
<html lang="en">

	{% include "head/head.njk" %}

<body>

	<div class="wrapper">

		{% include "header/global/header.njk" %}

		{% set text = 'Кэшбэк 10% при оплате…' %}
		{% set data = ['Новости'] %}
		{% set modifierItem = '' %}
		{% set modifierText = '' %}
		{% include "section-top/section-top/section-top.njk" %}

		<div class="middle">
			<div class="middle__container">
				<div class="content">

					{% include "news-detail/news-detail/news-detail.njk" %}

					{% from "news/news/news.njk" import news %}

					<div class="title title_sm">Другие новости</div>
					<!-- /.title title_sm -->

					<div class="news">
						<div class="row align-items-stretch">
							<div class="col-sm-4">
								{{ news() }}
							</div>
							<!-- /.col-sm-4 -->
							<div class="col-sm-4">
								{{
									news(
										src = 'images/news__pic2.png',
										name = 'Карта рассрочки #вместоденег от Альфа-Банк',
										text = 'Купите понравившийся товар сегодня — зачем копить?! Используйте карту рассрочки #ВместоДенег от Альфа-Банка.'
									)
								}}
							</div>
							<!-- /.col-sm-4 -->
							<div class="col-sm-4">
								{{
									news(
										src = 'images/news__pic3.png',
										name = 'Новый партнёр: Яндекс.Деньги',
										text = 'Наш партнер — компания Яндекс, успешно продвигает свой инновационный продукт —  Яндекс.Деньги. Защищайте свои деньги, получайте дополнительные скидки или кешбек.  '
									)
								}}
							</div>
							<!-- /.col-sm-4 -->
						</div>
						<!-- /.row -->
					</div>
					<!-- /.news -->

				</div>
				<!-- /.content -->
			</div>
			<!-- /.middle__container -->
		</div>
		<!-- /.middle -->

		{% include "footer/global/footer.njk" %}

	</div>
	<!-- /.wrapper -->

	{% include "connect/script.njk" %}
	{% include "connect/stylesheet.njk" %}

</body>
</html>
