<div class="detail-text">
	<div class="detail__smtitle">Описание модели</div>
	<div class="detail-text__more" data-toggle-class></div>
	<!-- /.detail-text__more -->
	<div class="detail-text__section">
		<p>
			Матрас умеренной, средней жёсткости, в состав которого входит натуральная, гипоаллергенная, латексированная кокосовая койра. Модель "Гвидон" обладает прекрасными бактерицидными свойствами и прочностью.
		</p>
		<p>
			Имеется возможность заказать молнию по периметру и ручки. Стоимость опции +900 руб. При необходимости, прописать данную опцию в комментарие к заказу.
		</p>
		<p>
			Матрас умеренной, средней жёсткости, в состав которого входит натуральная, гипоаллергенная, латексированная кокосовая койра. Модель "Гвидон" обладает прекрасными бактерицидными свойствами и прочностью.
		</p>
		<p>
			Имеется возможность заказать молнию по периметру и ручки. Стоимость опции +900 руб. При необходимости, прописать данную опцию в комментарие к заказу.
		</p>
		<p>
			Матрас умеренной, средней жёсткости, в состав которого входит натуральная, гипоаллергенная, латексированная кокосовая койра. Модель "Гвидон" обладает прекрасными бактерицидными свойствами и прочностью.
		</p>
		<p>
			Имеется возможность заказать молнию по периметру и ручки. Стоимость опции +900 руб. При необходимости, прописать данную опцию в комментарие к заказу.
		</p>
		<p>
			Матрас умеренной, средней жёсткости, в состав которого входит натуральная, гипоаллергенная, латексированная кокосовая койра. Модель "Гвидон" обладает прекрасными бактерицидными свойствами и прочностью.
		</p>
		<p>
			Имеется возможность заказать молнию по периметру и ручки. Стоимость опции +900 руб. При необходимости, прописать данную опцию в комментарие к заказу.
		</p>
	</div>
</div>
<!-- /.detail-text -->
