.detail-text {
	margin-bottom: 70px;
	position: relative;
	padding-bottom: 55px;

	&__more {
		font-family: VremenaGrotesk;
		font-style: normal;
		font-weight: normal;
		font-size: 18px;
		line-height: 28px;
		color: #D58D85;
		cursor: pointer;
		display: inline-block;
		position: absolute;
		left: 0;
		bottom: 0;

		&:after {
			content: 'Читать полностью';
		}

		&.active:after {
			content: 'Свернуть';
		}
	}

	&__section {
		overflow: hidden;
		max-height: 150px;
		transition: max-height 400ms;
	}

	&__more.active + &__section {
		max-height: 2000px;
	}
	@media (--phone) {
		font-weight: 300;
		font-size: 17px;
		line-height: 34px;
		letter-spacing: 0.1px;
		margin-bottom: 48px;

		&__section {
			max-height: 280px;
		}

		&__more {
			border: 1px solid #8A1541;
			border-radius: 4px;
			height: 48px;
			cursor: pointer;
			font-family: VremenaGrotesk;
			font-style: normal;
			font-weight: 500;
			font-size: 24px;
			line-height: 24px;
			letter-spacing: 0.1px;
			color: #8A1541;
			position: absolute;
			left: 0;
			width: 100%;
			bottom: 0;
			display: flex;
			align-items: center;
			justify-content: center;
		}
	}
}