.social-items {
	display: flex;
	justify-content: center;

	&_footer {
		float: right;
	}

	&__row {
		display: flex;
		justify-content: center;
	}

	&__item {
		margin: 0 4px;
	}

	&__icon {
		display: block;
		width: 16px;
		height: 18px;
		transition: background 300ms;

		&_instagram {
			background: url("../images/footer-social/instagram.svg") no-repeat;
		}

		&_twitter {
			background: url("../images/footer-social/twitter.svg") no-repeat;
		}

		&_fb {
			background: url("../images/footer-social//facebook.svg") no-repeat;
		}

		&_in {
			background: url("../images/footer-social/linkedin.svg") no-repeat;
		}
	}
	@media (--phone) {
		&_footer {
			position: absolute;
			left: 20px;
			top: 115px;
			right: 20px;
			display: block;
		}

		&_footer &__row {
			justify-content: space-between;
		}

		&_footer &__icon {
			width: 28px;
			height: 28px;
			background-size: contain;
		}

		&_footer &__item {
			margin: 0;
		}
	}
}