<div class="reviews-item">
	<div class="reviews-item__desc">
		<div class="reviews-item__text">
			Очень мягкий и прочный матрас — идеальное сочетание доя ребенка! Плюсом является
			и бюджетная цена, что немаловажно!
			Сон у ребенка спокойный, проверено!
			По соотношению цена и качество это идеальный вариант!
		</div>
		<!-- /.reviews-item__text -->
	</div>
	<!-- /.reviews-item__desc -->
	<div class="reviews-item__photo">
		<img data-src="images/reviews-item__pic.png" alt="" class="reviews-item__pic lazyload" />
		<div class="reviews-item__section">
			<div class="reviews-item__name">
				Александр Иванов
			</div>
			<!-- /.reviews-item__name -->
			<div class="reviews-item__city">
				Москва
			</div>
			<!-- /.reviews-item__city -->
		</div>
		<!-- /.reviews-item__section -->
	</div>
	<!-- /.reviews-item__photo -->
</div>
<!-- /.reviews-item -->
