.reviews-item {
	&__desc {
		margin-bottom: 8px;
	}

	&__text {
		font-weight: 300;
		font-size: 17px;
		line-height: 34px;
		letter-spacing: 0.1px;
	}

	&__photo {
		display: flex;
		align-items: center;
	}

	&__pic {
		display: block;
		margin-right: 20px;
		width: 60px;
	}

	&__section {}

	&__name {
		font-family: VremenaGrotesk;
		font-style: normal;
		font-weight: 500;
		font-size: 16px;
		line-height: 24px;
		letter-spacing: 0.1px;
	}

	&__city {
		font-size: 14px;
		line-height: 20px;
		color: #000000;
	}
	@media (--phone) {
		margin-bottom: 24px;
	}
}