{% macro news(
		src = 'images/news__pic1.png',
		name = 'Чёрный чехол "Leo.Black"',
		text = 'Осень 2018 года — это время, когда на рынке появляется новое, уникальное и эксклюзивное изделие: черные матрасы, где ткань чехлов пропитана активированных углем.'
	)
%}
	<div class="news__item">
		<div class="news__photo">
			<a href="#" class="news__link">
				<img data-src="{{ src }}" alt="" class="news__pic lazyload" />
			</a>
		</div>
		<!-- /.-photo -->
		<div class="news__desc">
			<div class="news__name">
				<a href="#" class="news__namelnk">
					{{ name }}
				</a>
			</div>
			<!-- /.-name -->
			<div class="news__text">
				{{ text | safe }}
			</div>
			<!-- /.-text -->
			<a href="#" class="news__more">Читать полностью</a>
		</div>
		<!-- /.-desc -->
	</div>
	<!-- /.news__item -->
{% endmacro %}
