.news {
	padding-top: 70px;

	&__item {
		background: #FFFFFF;
		box-shadow: 0 1px 4px rgba(0, 0, 0, 0.1), 0 0 2px rgba(0, 0, 0, 0.1);
		margin-bottom: 60px;
		height: calc(100% - 60px);
	}

	&__photo {
		height: 200px;
		display: flex;
		align-items: center;
		justify-content: center;
	}

	&__link {}

	&__pic {
		display: block;
		max-width: 100%;
		max-height: 100%;
	}

	&__desc {
		padding: 24px 24px 8px;
	}

	&__name {
		font-size: 24px;
		line-height: 28px;
		letter-spacing: 0.1px;
		margin-bottom: 20px;
	}

	&__namelnk {
		color: #8A1541;
		font-family: VremenaGrotesk;
	}

	&__text {
		font-size: 16px;
		line-height: 24px;
		letter-spacing: 0.1px;
		margin-bottom: 4px;
	}

	&__more {
		font-weight: 500;
		font-size: 16px;
		line-height: 24px;
		letter-spacing: 0.1px;
		font-family: VremenaGrotesk;
	}
	@media (--phone) {
		padding-top: 0;
		margin-bottom: 0;

		&__item {
			margin-bottom: 24px;
			height: auto;
		}

		&__photo {
			height: auto;
		}

		&__link {}

		&__pic {}

		&__desc {
			padding: 20px 20px 16px;
		}

		&__name {
			margin-bottom: 16px;
		}

		&__namelnk {}

		&__text {
			margin-bottom: 12px;
		}

		&__more {}
	}
}