{% set data = [
	{
		title: 'О компании',
		items: [
			"История",
			"Производство",
			"Новости",
			"Оптовые продажи"
		]
	},
	{
		title: 'Покупателям',
		items: [
			"Условия доставки",
			"Способы оплаты",
			"Доставка в регионы"
		]
	},
	{
		title: 'Контакты',
		items: [
			"Салоны",
			"Отдел заказов"
		]
	}
] %}

<nav class="menu-footer">
	{% for item in data %}
	<ul class="menu-footer__list">
		<li class="menu-footer__item menu-footer__item_title">
			<a href="#" class="menu-footer__link menu-footer__link_title">{{ item.title }}</a>
		</li>
		<!-- /.menu-footer__item -->
		{% for i in item.items %}
		<li class="menu-footer__item">
			<a href="#" class="menu-footer__link">{{ i }}</a>
		</li>
		<!-- /.menu-footer__item -->
		{% endfor %}
	</ul>
	<!-- /.menu-footer__list -->
	{% endfor %}
</nav>
<!-- /.menu-footer -->
