.menu-footer {
	display: flex;

	&__list {
		list-style: none;
		margin: 0 65px 0 0;
		padding: 0;

		&:last-child {
			margin-right: 0;
		}
	}

	&__item {
		&_title {
			font-family: VremenaGrotesk;
			font-size: 16px;
			font-weight: 500;
			line-height: 1.5;
			letter-spacing: 0.1px;
			color: rgb(213, 141, 133);
			margin-bottom: 22px;
		}
	}

	&__link {
		font-size: 14px;
		line-height: 2.29;
		color: rgb(138, 21, 65);

		&_title {
			font-family: VremenaGrotesk;
			font-size: 16px;
			font-weight: 500;
			line-height: 1.5;
			letter-spacing: 0.1px;
			color: rgb(213, 141, 133);
		}
	}
	@media (--phone) {
		flex-direction: column;

		&__list {
			padding: 0;
			margin: 0 0 30px;

			&:last-child {}
		}

		&__item {
			&_title {
				font-weight: 500;
				font-size: 24px;
				line-height: 24px;
				letter-spacing: 0.1px;
				margin-bottom: 5px;
			}
		}

		&__link {
			font-size: 16px;
			line-height: 40px;

			&_title {
				font-weight: 500;
				font-size: 24px;
				line-height: 24px;
				letter-spacing: 0.1px;
			}
		}
	}
}