.detail-properties {
	margin-bottom: 20px;

	&__title {
		font-family: VremenaGrotesk;
		font-style: normal;
		font-weight: bold;
		font-size: 16px;
		line-height: 32px;
		letter-spacing: -0.1px;
		margin-bottom: 8px;
	}

	&__table {}

	&__field {
		display: flex;
		justify-content: space-between;
		position: relative;
		margin-bottom: 8px;
	}

	&__name {
		font-weight: 300;
		font-size: 15px;
		line-height: 24px;
		letter-spacing: 0.1px;
		opacity: 0.4;
		width: 50%;
	}

	&__value {
		width: 50%;
		font-size: 16px;
		line-height: 24px;
		letter-spacing: 0.1px;

		a {
			color: #8A1541;
		}
	}
	@media (--phone) {
		margin-bottom: 48px;
	}
}