<div class="detail-properties">
	<div class="detail-properties__inner">
		<div class="detail-properties__title">Характеристики</div>
		<!-- /.detail-properties__title -->
		<div class="detail-properties__table">
			{% set data = [
					{
						term: 'Жесткость:',
						value: 'Средняя'
					},
					{
						term: 'Пружины:',
						value: 'Classic 256'
					},
					{
						term: 'Высота:',
						value: '18'
					},
					{
						term: 'Нагрузка:',
						value: 'до 90 на сп. место'
					},
					{
						term: 'Чехол:',
						value: '<a href="#">Трикотаж Classic</a><br><a href="#">Жаккард Classic</a>'
					},
					{
						term: 'Бренд:',
						value: '<a href="#">Classic ™</a>'
					}
				]
			%}
			{% for item in data %}
				<div class="detail-properties__field">
					<div class="detail-properties__name">{{ item.term | safe }}</div>
					<div class="detail-properties__value">{{ item.value | safe }}</div>
				</div>
			{% endfor %}
		</div>
	</div>
	<!-- /.detail-properties__inner -->
</div>
<!-- /.detail-properties -->
