{% set data = ['О компании', 'Доставка и оплата', 'Гарантия', 'Контакты'] %}
<nav class="menu">
	<ul class="menu__list">
		{% for item in data %}
		<li class="menu__item {%if loop.index == 1%}active{% endif %}">
			<a href="#" class="menu__link">
				{{ item }}
			</a>
		</li>
		{% endfor %}
	</ul>
</nav>
