.menu {
	&__list {
		display: flex;
		margin: 0;
		padding: 0;
		list-style: none;
	}

	&__item {
		margin-left: 20px;

		&:first-child {
			margin-left: 0;
		}
	}

	&__link {
		font-size: 14px;
		line-height: 20px;
		color: #D58D85;
	}

	&__item.active &__link {
		color: #A1A1A1;
		font-weight: bold;
	}
}