.pagination {
	display: flex;
	align-items: center;

	&__text {
		font-weight: 500;
		font-size: 14px;
		line-height: 24px;
		letter-spacing: 0.1px;
		margin-right: 6px;
	}

	&__item {
		font-weight: 500;
		font-size: 14px;
		line-height: 24px;
		letter-spacing: 0.1px;
		text-decoration: none;
		padding: 0 4px;
	}
	@media (--phone) {
		&_mobile {
			margin-top: -20px;
			margin-bottom: 48px;
		}

		&__more {
			border: 1px solid #8A1541;
			border-radius: 4px;
			height: 48px;
			cursor: pointer;
			font-family: VremenaGrotesk;
			font-style: normal;
			font-weight: 500;
			font-size: 24px;
			line-height: 24px;
			letter-spacing: 0.1px;
			color: #8A1541;
			width: 100%;
			display: flex;
			align-items: center;
			justify-content: center;

			&:after {
				content: 'Показать еще';
			}

			&.active:after {
				content: 'Свернуть';
			}
		}
	}
}