{% macro desktop() %}
	<div class="pagination">
		<div class="pagination__text">
			Страница
		</div>
		<!-- /.pagination__text -->
		<span class="pagination__item">1</span>
		<a href="#" class="pagination__item">2</a>
		<a href="#" class="pagination__item">3</a>
		<a href="#" class="pagination__item">4</a>
		<a href="#" class="pagination__item">5</a>
		<a href="#" class="pagination__item">...</a>
		<a href="#" class="pagination__item">16</a>
	</div>
	<!-- /.pagination -->

{% endmacro %}

{% macro mobile() %}
	<div class="pagination pagination_mobile">
		<a href="#" class="pagination__more"></a>
	</div>
	<!-- /.pagination -->

{% endmacro %}
