<div class="detail-color">
	<div class="detail-color__title">Варианты обивки</div>
	<!-- /.detail-color__title -->
	<div class="detail-color__row">
		{% for item in ['images/catalog-thumb__color1.png', 'images/catalog-thumb__color2.png', 'images/catalog-thumb__color3.png'] %}
			<div class="detail-color__label" style="background: url({{ item }}) no-repeat;">
				<input type="radio" class="detail-color__input"/>
			</div>
			<!-- /.detail-color__label -->
		{% endfor %}
	</div>
	<!-- /.detail-color__row -->
</div>
<!-- /.detail-color -->
