.detail-color {
	&__title {
		font-size: 12px;
		line-height: 1;
		margin-bottom: 12px;
	}

	&__row {
		display: flex;
		flex-wrap: wrap;
		margin: 0 -8px;
	}

	&__label {
		display: block;
		position: relative;
		width: 24px;
		height: 24px;
		margin: 0 8px 16px;
	}

	&__input {
		opacity: 0;
	}
	@media (--phone) {
		&__title {
			font-size: 16px;
			line-height: 28px;
		}
	}
}