.reviews-form {
	position: absolute;
	right: 0;
	top: 0;
	background: #fff;
	z-index: 1;
	padding: 0 100px 0 0;
	height: 100%;

	&__form {
		width: 357px;
	}

	&__submit.form__submit {
		border: 1px solid #C4C4C4;
		background: none;
		color: #8A1541;
		margin: -4px 0 0;
	}
	@media (--phone) {
		position: static;
		padding: 0;
		height: auto;

		&__form {
			width: 100%;
		}

		&__submit.form__submit {
			height: 48px;
			border: 1px solid #8A1541;
			font-size: 24px;
			line-height: 24px;
			text-align: center;
			letter-spacing: 0.1px;
		}
	}
}