{% import "form/form.njk" as form %}
<div class="reviews-form">
	<form action="" class="form reviews-form__form">
		{{ form.textarea() }}
		{{ form.submit(value = 'Отправить отзыв', modifier = 'reviews-form__submit') }}
	</form>
	<!-- /.-form -->
</div>
<!-- /.reviews-form -->
