{% import "form/form.njk" as form %}
{% macro propsData() %}
<div class="basket-props">
	<div class="basket-props__title basket__title">Введите ваши данные</div>
	<div class="basket-props__row">

		{{
			form.input( placeholder = 'Имя и фамилия' )
		}}
		{{
			form.input(
				placeholder = 'Телефон',
				type = 'tel'
			)
		}}
		{{
			form.input(
				label = 'E-mail',
				type = 'email'
			)
		}}

	</div>
</div>
{% endmacro %}

{% macro propsAddress() %}
<div class="basket-props basket-props_bottom">
	<div class="basket-props__title basket__title">Мой адрес доставки</div>
	<div class="basket-props__row">

		{{
			form.input( placeholder = 'Город' )
		}}
		{{
			form.input( placeholder = 'Улица' )
		}}
		<div class="row">
			<div class="col-6">
				{{
					form.input( placeholder = 'Дом' )
				}}
			</div>
			<!-- /.col-6 -->
			<div class="col-6">
				{{
					form.input( placeholder = 'Корпус' )
				}}
			</div>
			<!-- /.col-6 -->
			<div class="col-6">
				{{
					form.input( placeholder = 'Этаж' )
				}}
			</div>
			<!-- /.col-6 -->
			<div class="col-6">
				{{
					form.input( placeholder = 'Код домофона' )
				}}
			</div>
			<!-- /.col-6 -->
		</div>
		<!-- /.row -->

	</div>
</div>
{% endmacro %}

{% macro propsPromocode() %}
<div class="basket-props basket-props_bottom">
	<div class="basket-props__title basket__title">У меня есть промокод</div>
	<div class="basket-props__row">

		{{
			form.input( placeholder = 'Промокод', promocode = true )
		}}

	</div>
</div>
{% endmacro %}
