.basket-props {
	margin-bottom: 25px;

	&_bottom {
		margin-bottom: 40px;
	}

	&__title {}

	.row {
		margin-left: -7px;
		margin-right: -7px;

		[class*=col-] {
			padding-left: 7px;
			padding-right: 7px;
		}
	}
	@media (--phone) {
		&_bottom {
			margin-bottom: 32px;
		}
	}
}