{% from "news/news/news.njk" import news %}

<div class="news">
	<div class="row align-items-stretch">
		<div class="col-sm-4">
			{{ news() }}
		</div>
		<!-- /.col-sm-4 -->
		<div class="col-sm-4">
			{{
				news(
					src = 'images/news__pic2.png',
					name = 'Карта рассрочки #вместоденег от Альфа-Банк',
					text = 'Купите понравившийся товар сегодня — зачем копить?! Используйте карту рассрочки #ВместоДенег от Альфа-Банка.'
				)
			}}
		</div>
		<!-- /.col-sm-4 -->
		<div class="col-sm-4">
			{{
				news(
					src = 'images/news__pic3.png',
					name = 'Новый партнёр: Яндекс.Деньги',
					text = 'Наш партнер — компания Яндекс, успешно продвигает свой инновационный продукт —  Яндекс.Деньги. Защищайте свои деньги, получайте дополнительные скидки или кешбек.  '
				)
			}}
		</div>
		<!-- /.col-sm-4 -->
		<div class="col-sm-4">
			{{
				news(
					src = 'images/news__pic4.png',
					name = 'Кэшбэк 10% при оплате картой Tinkoff Bank',
					text = '24 мая 2018 года Holding Consul заключил партнёрский договор с Tinkoff Bank на предоставление специального бонуса для держателей карт банка "Тинькофф".'
				)
			}}
		</div>
		<!-- /.col-sm-4 -->
		<div class="col-sm-4">
			{{
				news(
					src = 'images/news__pic5.png',
					name = 'Экспресс-доставка в день заказа',
					text = 'У нас появилась возможность изготавливать и доставлять матрасы через 8 часов с момента оформления заказа. При этом товар будет  оперативно изготавливаться индивидуально для Вас.'
				)
			}}
		</div>
		<!-- /.col-sm-4 -->
		<div class="col-sm-4">
			{{
				news(
					src = 'images/news__pic6.png',
					name = 'Выставка "50 плюс. Все плюсы зрелого возраста"',
					text = 'Мы приняли участие  в выставке-  ярмарке «50 плюс. Все плюсы зрелого возраста». Представлены матрасы, ортопедические основания и аксессуары.'
				)
			}}
		</div>
		<!-- /.col-sm-4 -->
	</div>
	<!-- /.row -->
</div>
<!-- /.news -->
