<div class="delivery">

	<div class="title">Условия доставки</div>
	<!-- /.title -->

	<div class="delivery__title">Стоимость и условия доставки по Москве</div>
	<!-- /.-title -->

	<p>Осуществляется в течение дня в прихожую квартиры/дома (c 11:00 до 22:00)</p>

	<p>
		<b>Бесплатно</b> — для заказов стоимостью свыше <b>10 000</b> ₽
		<b>500</b> ₽ — для заказов стоимостью менее <b>10 000</b> ₽
	</p>

	<p>
		В будние дни ко времени (интервал 2 часа):
		<b>1 000</b> ₽ — с 12 до 18 часов
		<b>1 500</b> ₽ — с 18 до 20 часов
		<b>2 000</b> ₽ — с 20 до 22 часов
	</p>

	<p>В субботу — <b>1 500</b> ₽ (водитель звонит минимум за час до доставки)</p>
	<p>В воскресенье — <b>3 000</b> ₽ (водитель звонит минимум за час до доставки)</p>

	<br />
	<div class="delivery__title">Стоимость и условия доставки за пределы МКАД</div>
	<!-- /.-title -->

	<p>Осуществляется в течение дня в прихожую квартиры/дома (c 11:00 до 22:00)</p>00)</p>

	<p>
		Бесплатно — для заказов стоимостью свыше <b>70 000</b> ₽ и до 30 км. от МКАД
		<b>40</b> ₽/км — для заказов стоимостью свыше <b>10 000</b> ₽
		<b>500</b> ₽ + 40 ₽/км — для заказов стоимостью менее <b>10 000</b> ₽
	</p>

	<p>Если доставка осуществляется на расстояние более 50 км. от МКАД, к стандартному расчёту прибавляется <b>500</b> ₽ за каждые 50 км</p>

</div>
<!-- /.delivery -->
