.delivery {
	padding-top: 20px;
	margin-bottom: 60px;

	.title {
		margin-bottom: 60px;
	}

	&__title {
		color: #8a1541;
		font-family: VremenaGrotesk;
		font-size: 24px;
		font-weight: 700;
		letter-spacing: -0.1px;
		line-height: 32px;
		margin-bottom: 16px;
	}

	p {
		margin-bottom: 25px;
	}

	b {
		font-weight: bold;
	}
	@media (--phone) {
		padding-top: 0;
		margin-bottom: 48px;

		.title {
			margin-bottom: 16px;
		}
	}
}