.menu-header {
	position: absolute;
	right: 60px;
	top: 18px;

	&__list {
		display: flex;
		margin: 0;
		padding: 0;
		list-style: none;
	}

	&__item {
		margin-left: 24px;

		&:first-child {
			margin-left: 0;
		}
	}

	&__link {
		font-weight: 500;
		font-size: 16px;
		line-height: 24px;
		text-align: right;
		letter-spacing: 0.1px;
		color: #000;
	}
	@media (--phone) {
		display: none;
	}
}