{% set data = ['Матрасы', 'Кровати', 'Основания', 'Аксессуары', 'Детские товары'] %}
<nav class="menu-header" id="js-menu-header">
	<ul class="menu-header__list">
		{% for item in data %}
			<li class="menu-header__item">
				<a href="#" class="menu-header__link">
					{{ item }} 
				</a>
			</li>
			<!-- /.menu-header__item -->
		{% endfor %}
	</ul>
	<!-- /.menu-header__list -->
</nav>
<!-- /.menu-header -->
